@import url("https://fonts.googleapis.com/css?family=Dosis&subset=latin-ext");

body {
  font-family: "Dosis", sans-serif;
}

.text-main {
  color: #00a4d3;
}

.bg-main {
  background-color: #00a4d3;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  font-weight: bold;
}

#section-jumbotron {
  background-color: #00a4d3;
  padding-top: 150px;
}

#curve {
  position: relative;
  bottom: 0px;
  width: 100%;
  display: block;
  margin: 0 auto;
  /* filter: drop-shadow(0 -6px 3px rgba(0, 0, 0, 0.2)); */
}

#curve path {
  fill: #fff;
}

.jumbotron-content {
  padding-top: 6rem;
}

/* SWIPER */

#section-jumbotron .swiper-container {
  width: 100%;
  height: 100%;
  border: 2px dashed #e1e1e3;
  background: #fff;
}

#section-jumbotron .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* clip-path: polygon(7% 6%, 93% 15%, 95% 85%, 3% 96%); */
}

#section-jumbotron .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 20px;
}

#section-jumbotron .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #fff;
}

/* SWIPER */

.img-kidz {
  opacity: 0.8;
}

#section-welcome {
  background-image: url(../img/clouds.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rounded-top-big {
  border-top-left-radius: 1.5rem !important;
  border-top-right-radius: 1.5rem !important;
}

.rounded-bottom-big {
  border-bottom-right-radius: 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important;
}

#section-facilities {
  background-color: #00a4d3;
  background-image: url(../img/drawing.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
  padding-bottom: 4rem;
}

#section-teachers .card-body {
  margin-top: -50px;
  padding: 0;
  width: 90%;
}

#section-testimonials {
  background-color: #00a4d3;
  background-image: url(../img/building.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

#section-testimonials .swiper-container {
  width: 100%;
  height: 100%;
}
#section-testimonials .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 100px;
}

#section-testimonials .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid #fff;
  opacity: 1;
}

#section-testimonials .swiper-pagination-bullet-active {
  background: #fff;
  border: 2px solid #fff;
}

.bg-f5f5f5 {
  background-color: #f5f5f5;
}

.bg-fafafa {
  background-color: #fafafa;
}

footer {
  padding-top: 6rem;
}

.form-full-width {
  flex-grow: 1;
}
