@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900&subset=latin-ext");

.first__color {
  color: #06213a;
}

.second__color {
  color: #ca9832;
}

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  outline: none;
  -webkit-font-smoothing: antialiased;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); */
}

.row {
  display: grid;
}

.btn {
  text-decoration: none;
  color: #fff;
  background: transparent;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
  border: 2px solid #fff;
  padding: 10px 32px;
  transition: all 0.3s ease-in;
  text-align: center;
}

.btn:hover {
  background: #fff;
  color: #06213a;
}

section[id^="sec-"] {
  padding: 90px 200px;
}

.sec__title {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #06213a;
  font-size: 5em;
  letter-spacing: 15px;
  margin-bottom: 1.5em;
}

.sec__subtitle {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #ca9832;
  font-size: 3em;
  letter-spacing: 5px;
  margin-bottom: 1.5em;
  margin-top: 3em;
}

.sec__text {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 1px;
  line-height: 2em;
  color: #06213a;
  padding: 0 10em;
}

header {
  min-height: 110vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/hero_img.jpg");
  /* background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)), url("../img/main-bg.svg"); */
  /* background: linear-gradient(rgba(40, 20, 52, 1), rgba(40, 20, 52, 0.8), rgba(40, 20, 52, 0.5)),
    url("https://images.pexels.com/photos/1005770/pexels-photo-1005770.jpeg?auto=compress&cs=tinysrgb&w=1500"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: rgba(255, 255, 255, 1);
  display: grid;
  grid-template-columns: 6fr 6fr;
  align-items: center;
  padding: 0 100px;
  height: 70px;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
}

.logo {
  font-size: 1.5em;
  font-weight: 700;
  color: #06213a;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
}

.logo span {
  color: #ca9832;
  font-size: 1.5em;
  font-weight: 700;
  transition: all 0.4s ease;
}

.logo:hover {
  color: #ca9832;
}

.logo:hover span {
  color: #06213a;
}

.menu__icon {
  display: none;
}

.menu__icon .fas {
  font-size: 1.5em;
  color: #ca9832;
}

/* .logo img {
  height: 2em;
  margin-right: 0.5em;
} */

/* .logo span {
  color: #e14636;
  font-weight: 400;
  margin-left: 0.5em;
} */

.navbar {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-auto-rows: auto;
  grid-gap: 0.5em;
  align-items: center;
  text-align: center;
}

.navbar__item a {
  font-size: 1.3em;
  font-weight: 500;
  color: #06213a;
  /* text-shadow: 0 0 1px rgba(0, 0, 0, 0.5); */
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.navbar__item:hover a,
.navbar__item:focus a {
  color: #ca9832;
  transition: all 0.3s ease;
}

.active a {
  color: #ca9832;
}

.hero {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  text-align: center;
  color: #fff;
}

.hero .content {
  width: 50%;
}

.hero h2 {
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 500;
  margin-bottom: 4em;
}

/* News */

#sec-news .row {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin-top: 7em;
}


#sec-news .card__content {
  background: transparent;
  text-transform: uppercase;
}


#sec-news .card__date {
  margin-bottom: 15em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}


#sec-news .dd {
  font-size: 5em;
  margin-right: 0.2em;
}


#sec-news .mm {
  font-weight: 700;
  font-size: 1.7em;
  margin-right: 0.3em;
}

#sec-news .yy {
  font-weight: 700;
  font-size: 1.4em;
  color: #ca9832;
}


#sec-news .card__author {
  font-size: 1.3em;
  margin-top: 0.5em;
  font-weight: 600;
  background: #ca9832;
  padding: 5px;
  width: 20%;
  text-align: center;
}


#sec-news .card__text {
  font-weight: 700;
  font-size: 2em;
  margin-top: 0.5em;
  line-height: 1.1em;
  letter-spacing: 2px;
}


#sec-news .btn {
  color: #06213a;
  background: transparent;
  border: 2px solid #06213a;
  grid-column-end: 3;
  margin-top: 3em;
  width: 50%;
  justify-self: center;
}

#sec-news .btn:hover {
  background: #06213a;
  color: #fff;
}

/* Work */

#sec-work {
  background-color: #06213a;
}

#sec-work .sec__title,
#sec-work .sec__text {
  color: #fff;
}

#sec-work .row {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin-top: 10em;
}

#sec-work .card:nth-child(1) {
  grid-column-end: span 2;
}

#sec-work .card:nth-child(4) {
  grid-column-end: span 2;
}

#sec-work .btn {
  grid-column-end: 3;
  margin-top: 3em;
  width: 50%;
  justify-self: center;
}

.card {
  position: relative;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card__img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  margin-bottom: -5px;
}

.card__content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  /* transform: translate(-50%, -50%); */
  padding: 20px;
  color: #fff;
  background: rgba(6, 33, 58, 0.5);
  text-transform: lowercase;
  display: block;
}

#sec-work .card__title {
  text-align: justify;
  font-size: 1.5em;
  margin-bottom: 1em;
}

#sec-work .card__subtitle {
  text-align: right;
  font-size: 1.2em;
}

#sec-work .card__subtitle i {
  font-size: 1.1em;
  margin-right: 0.5em;
  color: #ca9832;
}

#sec-work .card__subtitle span {
  margin-left: 1em;
  font-size: 1.2em;
}

#sec-journalism {
  padding: 70px 0;
}

#sec-journalism .sec__title,
#sec-journalism .sec__text {
  padding-left: 300px;
  padding-right: 300px;
}

#sec-journalism .row {
  margin-top: 7em;
  grid-template-columns: repeat(5, 1fr);
}

#sec-journalism .box {
  text-decoration: none;
}

#sec-journalism .box:nth-child(odd) {
  background: #06213a;
}

#sec-journalism .box:nth-child(even) {
  background: #ca9832;
}

#sec-journalism .box__content {
  background: transparent;
  color: #fff;
}

#sec-journalism .box__img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  margin-bottom: -5px;
  transition: all 0.3s ease-out;
}

#sec-journalism .box:hover .box__img {
  transform: scale(0.9);
}

#sec-journalism p {
  font-size: 1.5em;
  line-height: 1.6em;
}

#sec-journalism .btn {
  color: #06213a;
  background: transparent;
  border: 2px solid #06213a;
  grid-column-end: 4;
  margin-top: 3em;
  width: 50%;
  justify-self: center;
}

#sec-journalism .btn:hover {
  background: #06213a;
  color: #fff;
}

/* About */

#sec-about {
  background: #ff5064;
}

#sec-about .sec__title,
#sec-about .sec__text {
  color: #fff;
}

#sec-about .row {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1em;
}

.box {
  overflow: hidden;
}

.box__img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  margin-bottom: -5px;
  transition: all 0.3s ease-out;
}

.box__img:hover {
  transform: scale(1.6);
}

.box__content {
  background-color: #06213a;
  padding: 25px;
  text-align: center;
}

.box__title {
  font-weight: 900;
  text-transform: uppercase;
  color: #ca9832;
  font-size: 1.4em;
  margin-bottom: 0.3em;
}

.box__subtitle {
  font-size: 1.3em;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 1.5em;
}

.box__link {
  color: #fff;
  margin: 0 0.5em;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
  font-size: 1.2em;
}

.box__link:hover {
  color: #fff;
  background-color: #ca9832;
}

/* Contact */

#sec-contact {
  background: linear-gradient(rgba(6, 33, 58, 1), rgba(6, 33, 58, 0.9)), url("../img/contact_bg.jpg");
}

#sec-contact .row {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

#sec-contact form {
  grid-column-start: 2;
  grid-column-end: 3;
}

#sec-contact .sec__title {
  color: #fff;
}

#sec-contact .sec__text {
  color: #fff;
}

#sec-contact .content {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 2em;
}

#sec-contact label {
  font-size: 0;
  background: #06213a;
  border: 0;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#sec-contact input,
#sec-contact textarea {
  background: #06213a;
  border: 0;
  font-size: 1.5em;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#sec-contact label {
  padding: 10px 20px;
}

#sec-contact input,
#sec-contact textarea {
  padding: 5px 20px;
}

#sec-contact input::placeholder,
#sec-contact textarea::placeholder {
  color: #ca9832;
}

#sec-contact input:focus+label,
#sec-contact textarea:focus+label {
  font-size: 1.2em;
}

.socials {
  text-align: center;
  margin-top: 3em;
}

.social__link {
  color: #fff;
  font-size: 3em;
}

.socials i {
  font-size: 1em;
  line-height: 1em;
  margin: 0 0.5em;
  transition: all 0.3s ease-out;
}

.social__link:hover i {
  transform: scale(1.5);
}

footer {
  background: #06213a;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

footer p {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}

footer i {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

footer a:hover i {
  transform: scale(1.2);
}

footer span {
  color: #ca9832;
  font-size: 1em;
  font-weight: 500;
}

/* RWD */

/* @media (max-width: 890px) {
  nav {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    justify-items: center;
  }

  .navbar {
    grid-template-columns: 1fr;
    grid-gap: 2em;
    padding: 3em 0;
  }

  .navbar__item a {
    font-size: 2em;
  }

  .main-nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 10em;
  }

  .menu__icon {
    display: block;
  }

  .hero .content {
    width: 90%;
  }

  .hero h2 {
    font-size: 1.8em;
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: 10em;
  }

  section[id^="sec-"] {
    padding: 50px 50px;
  }

  .sec__title {
    font-size: 3em;
    letter-spacing: 10px;
  }

  .sec__text {
    padding: 0 10px;
  }

  #sec-news .row {
    grid-template-columns: 1fr;
    grid-gap: 2em;
    margin-top: 7em;
  }
} */

@media (max-width: 320px) {
  .hero .content {
    width: 90%;
  }

  .hero h2 {
    font-size: 2rem;
  }

  section[id^="sec-"] {
    padding: 70px 10px;
  }

  .sec__title {
    letter-spacing: 10px;
    font-size: 2rem;
    margin-bottom: 1.5em;
  }

  .sec__text {
    padding: 0 20px;
    line-height: 1.8;
  }

  #sec-news .row {
    grid-template-columns: 1fr;
  }

  #sec-news .btn {
    grid-column-end: 1;
    grid-column-start: 1;
  }

  #sec-news .card__date {
    margin-bottom: 5rem;
  }

  #sec-news .card__text {
    font-size: 1em;
  }

  #sec-work .row {
    grid-template-columns: 1fr;
  }

  #sec-work .card:nth-child(1),
  #sec-work .card:nth-child(4) {
    grid-column-end: 2;
  }

  .card__content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    color: #fff;
    background: rgba(6, 33, 58, 0.7);
  }

  #sec-work .card__title {
    font-size: 1.2em;
  }

  #sec-work .btn {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  #sec-journalism {
    padding: 70px 10px;
  }

  #sec-journalism .sec__title,
  #sec-journalism .sec__text {
    padding-left: 0;
    padding-right: 0;
  }

  #sec-journalism .row {
    grid-template-columns: 1fr;
  }

  #sec-journalism .btn {
    grid-column-end: 1;
    grid-column-start: 1;
  }

  #sec-about .row {
    grid-template-columns: repeat(2, 1fr);
  }

  /* jesli ilosc boxow jest nie parzysta */
  #sec-about .box:last-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #sec-contact .row {
    grid-template-columns: repeat(1, 1fr);
  }

  #sec-contact form {
    grid-column-start: 1;
  }

  footer {
    grid-template-columns: repeat(1, 1fr);
  }
}



/* NAVBAR RWD */

@media (max-width: 890px) {

  nav {
    padding: 0 20px;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    justify-self: flex-end;
  }

  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #1e1e23;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383f;
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  #menu li {
    padding: 10px 0;
  }

  #menu a {
    color: #1e1e23;
    font-size: 2.0rem;
  }

  #menu a:hover {
    color: #ff5064;
  }

  #menuToggle input:checked~ul {
    transform: none;
    transition-delay: 0.1s;
  }
}