@import url('https://fonts.googleapis.com/css?family=Exo:400,700&subset=latin-ext');
* {
    padding: 0;
    margin: 0;
    font-family: 'Exo', sans-serif;
    outline: none;
}

header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,1)), url('https://source.unsplash.com/5_eRcisHc2c/1600x900');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: rgba(255,255,255,1);
    padding: 20px;
}

.nav-logo {
    /* color: white; */
    margin-left: 3em; 
}

.dropdown {
    align-self: center;
    justify-self: center;
    /* color: white; */
    display: none;
}

.navbar {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    transition: all .3s ease-in-out;
}

.nav-link {
    text-decoration: none;
    /* color: white; */
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700;
    padding: 5px 15px;
    border: 2px solid transparent;
    transition: all .3s ease-in-out;
}

.nav-link:hover {
    border: 2px solid black;
}

@media (max-width: 657px) {
    .navbar {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: span 2;
        font-size: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all .1s ease-in-out;
    }

    .nav-item {
        margin: 10px 0;
    }

    .dropdown {
        display: inline;
        cursor: pointer;
    }

    .navbar.active {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: span 2;
        font-size: 15px;
        height: auto;
        opacity: 1;
        transition: all .1s ease-in-out;
    }
}