@import url('https://unpkg.com/ionicons@4.4.8/dist/css/ionicons.min.css');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.sidebar {
    float: left;
    width: 100px;
    height: 100vh;
    background: #2c3e50;
    overflow: hidden;
    margin-left: -100px;
    transition: all .8s;
}

.side {
    margin-left: 0;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    height: 80px;
    width: 100%;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    display: block;
    transition: all .6s;
}

.sidebar ul li a:hover {
    background: #34495e;
}

.btn {
    float: left;
    padding: 0 10px;
    font-size: 40px;
    text-decoration: none;
    color: #2c3e50;
    font-family: Ionicons;
    cursor: pointer;
}

.btn::before {
    content: '\f32a';
}

.btnc::before {
    content: '\f2c0';
}