.flex-gallery {
    display: flex;
    flex-flow: row wrap;
}

.flex-gallery .flex-gallery-item {
    flex: auto;
    width: 200px;
    margin:  .5vw;
}

.flex-gallery .flex-gallery-item img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

@media screen and (max-width: 400px) {
    .flex-gallery .flex-gallery-item {
        margin: 1vw 0;
    }

    .flex-gallery {
        padding: 0;
    }
}