@keyframes scroll {
	0% {
		opacity: 0;
	}
	10% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(15px);
		opacity: 0;
	}
}

* {
	box-sizing: border-box;
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.sec__tittle {
	color: #212b36;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2rem;
	margin: 0 0 40px 0;
}

.sec__subtitle {
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
}

.header {
	background: #f5f6f6;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 2vh 2vw;
	margin-bottom: auto;
}

.nav__logo {
	transition: all .3s ease-in-out;
	cursor: pointer;
	background: #fff;
	padding: 2px 10px;
	border: 2px solid rgba(195, 204, 212, .4);
	border-radius: 3px;
	text-decoration: none;
}

.nav__logo h3,
.nav__logo p {
	margin: 0;
	padding: 0;
	color: #212b36;
}

.nav__logo h3 {
	font-size: 1rem;
	line-height: 1rem;
}

.nav__logo p {
	font-size: .9rem;
	line-height: .9rem;
	text-transform: uppercase;
}

.nav__logo:hover,
.nav__logo:focus {
	margin-left: 1rem;
}

.nav__navbar {
	display: flex;
	flex-flow: row wrap;
}

.nav__navbar__link {
	text-decoration: none;
	padding: 10px;
	margin: 0 .3rem;
	font-size: .9rem;
	color: #212b36;
	opacity: .5;
	font-weight: 500;
	transition: all .3s ease-in-out;
}

.nav__navbar__link:hover,
.nav__navbar__link:focus {
	font-weight: 500;
	padding-top: 5px;
}

.nav__navbar__link.active {
	opacity: 1;
}

.hero {
	padding: 0 2vw;
	/* width: 50vw; */
	margin-bottom: auto;
	text-align: center;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.hero__title {
	font-size: 3rem;
	line-height: 2rem;
	letter-spacing: -1px;
	color: #212b36;
	font-weight: 500;
}

.hero__text {
	columns: #212b36;
	font-weight: 400;
	font-size: 1rem;
	/* letter-spacing: -1px; */
	line-height: 1rem;
	width: 60vw;
}

.hero__btn {
	background: #637381;
	color: #fff;
	text-decoration: none;
	padding: .5rem 2rem;
	border-radius: 2px;
	border: 2px solid transparent;
	transition: .2s ease-in-out;
}

.hero__btn:hover {
	color: #637381;
	background: transparent;
	border: 2px solid #637381;
}

.mousey {
	width: 3px;
	padding: 10px 15px;
	height: 35px;
	border: 2px solid #212b36;
	border-radius: 25px;
	opacity: 0.55;
	box-sizing: content-box;
	margin-top: 10rem;
}
.scroller {
	width: 3px;
	height: 10px;
	border-radius: 25%;
	background-color: #212b36;
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
}

section {
	padding: 88px 2vw;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	text-decoration: none;
}

.card {
	flex: auto;
	flex-basis: 30vw;
	min-width: 250px;
	margin: 12px;
	background: #fff;
	text-decoration: none;
	transition: all .3s ease-in-out;
}

.card__img {
	width: 100%;
	height: 216px;
	object-fit: cover;
}

.card__caption {
	margin-top: 1rem;
	color: #212b36;
}

.card__caption__title {
	font-weight: 400;
	margin: 11px 0;
	font-size: 1.05rem;
	line-height: 1.8rem;
}

.card__caption__text {
	margin: 0;
	text-align: justify;
	font-size: .85rem;
}

#about {
	background: #f5f6f6;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 165px 0;
}

.cta__title {
	flex: 0 0 100%;
	text-align: center;
	color: #212b36;
	font-weight: 400;
	font-size: 1.45rem;
	line-height: 2rem;
	margin: 0 0 40px 0;
	/* letter-spacing: -1px; */
}

.cta__btn {
	border: 2px solid #637381;
	font-size: .9rem;
	margin: 0 .5rem;
	padding: 8px 30px;
	background: #637381;
	text-decoration: none;
	color: #fff;
	transition: all .3s ease-in-out;
	box-sizing: border-box;
	border-radius: 3px;
}

.cta__btn--second {
	background: transparent;
	color: #637381;
}

.cta__btn:hover,
.cta__btn:focus {
	background: transparent;
	color: #637381;
}

.cta__btn--second:hover,
.cta__btn--second:focus {
	background: #637381;
	color: #fff;
}

.services {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	padding-bottom: 44px;
}

.services .box {
	flex: auto;
	flex-basis: 10vw;
	min-width: 150px;
	margin: 0 12px;
	color: #212b36;
}

.box__icon {
	width: 30px;
	display: block;
	/* margin: 0 auto 1rem auto; */
	margin-bottom: 20px;
}

.box__title {
	margin: 0 0 10px 0;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.6rem;
}

.box__text {
	font-size: .9rem;
	text-align: justify;
	margin: 0;
}

#projects {
	padding-top: 44px;
}

#projects .card {
	border: 1px solid rgba(196, 205, 213, .5);
	/* border-radius: 5px; */
}

#projects .card__caption {
	padding: 0 20px;
	margin-top: 0;
}

#projects .card__caption__title {
	font-size: 1rem;
}

.card__footer {
	color: #212b36;
	padding: 10px 20px 0 20px;
	font-size: .9rem;
	text-transform: uppercase;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
}

.icon__chat {
	height: .9rem;
	margin-right: .5rem;
}

.card__footer__number {
	display: flex;
	align-items: center;
}

#contact {
	background: #f5f6f6;
	color: #212b36;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#contact .form_container,
#contact .location {
	max-width: 50%;
	overflow: hidden;
}

#contact .form_container {
	padding: 20px;
}

#contact .sec__tittle {
	margin-bottom: 10px;
}

#contact .sec__subtitle {
	margin-bottom: 40px;
}

.form_container form {
	width: 90%;
}

.form_box {
	display: flex;
	flex-flow: column wrap;
	margin-bottom: 20px;
}

.form_box label {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 5px 30px 5px 5px;
}

.form_box span {
	font-size: .9rem;
	color: rgba(33, 43, 54, .6);
}

.form_box input,
.form_box textarea {
	background: #fff;
	/* color: #c4cdd5; */
	color: rgba(33, 43, 54, .8);
	padding: 10px;
	border: 2px solid rgba(195, 204, 212, .4);
	border-radius: 3px;
	box-sizing: border-box;
}

.form_box input::placeholder,
.form_box textarea::placeholder {
	color: #c4cdd5;
}

.form_container .hero__btn {
	display: flex;
}

.form_container .hero__btn span {
	margin-left: 1rem;
}

.address_box {
	margin-top: 20px;
}

.address_box p {
	margin: 0;
	font-size: .9rem;
}

.address_box h4 {
	font-weight: normal;
}

.footer {
	background: #212b36;
	padding: 88px 2vw 44px 2vw;
}

.footer .nav {
	padding: 0;
}

.footer .nav__navbar__link {
	color: #fff;
}

.socials {
	margin-top: 40px;
	text-align: right;
	padding-right: 10px;
}

.social__link {
	margin: 0 10px;
	transition: all .4s ease-in-out;
}

.social__link:hover .social__img {
	transform: rotate(360deg);
}

.social__img {
	width: 18px;
	transition: all .4s ease-in-out;
}

.text-center {
	text-align: center;
	color: #c4cdd5;
	margin: 40px 0 0 0;
	font-size: .9rem;
	padding: 0;
}
