body {
    font-family: 'Roboto', sans-serif;
}

.nav-top {
    height: 100px;
    padding: 20px 15%;
    color: #000000;
    z-index: 999;
}

.nav-top .nav-item {
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    padding: 0 30px;
}

.nav-top p {
    margin: 0;
    font-size: 90%;
}

.nav-top .fa {
    margin-right: 15px;
}

.fa-color {
    color: #ab987a;
}

.nav-top .nav-link {
    display: inline-block;
    padding: 0 !important;
    color: #032f3e;
    font-size: 90%;
}

.nav-bottom {
    background-color: #032f3e;
    color: #ffffff;
    height: 100px;
    z-index: 998;
}

.nav-bottom .nav-link {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    padding: 40px 70px !important;
    text-transform: uppercase;
    border-left: 1px solid #0d3948;
    border-right: 1px solid #0d3948;
}

.nav-bottom .active .nav-link {
    color: #ab987a;
}

.nav-bottom .nav-item:hover .nav-link {
    color: #ab987a;
}

.swiper-container {
    width: 100%;
    height: 80vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #9e9e9e;
   -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #032f3e;
}

.swiper-slide .content {
    position: absolute;
    bottom: 20%;
    right: 5%;
}

.swiper-slide .display-2 {
    text-align: right;
}

.swiper-slide .display-3 {
    text-align: right;
}

#two {
    height: 100vh;
    padding: 150px 0;
    background-color: #f8f9fb;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: rgb(3, 47, 62);
    font-weight: bold;
    line-height: 0.923;
    text-align: center;
}

h6 {
    font-family: "Lato";
    color: rgb(97, 97, 97);
    line-height: 1.625;
    text-align: center;
    margin-bottom: 150px;
}

#two h5 {
    font-family: "Roboto";
    color: rgb(3, 47, 62);
    font-weight: bold;
    line-height: 1.611;
    text-align: center;
    margin-top: 30px;
}

.line_separator {
    background-color: rgb(171, 152, 122);
    width: 30px;
    height: 2px;
    margin: 35px auto;
}

#three {
    height: 100vh;
    background-color: #032f3e;
    color: #fff;
    padding: 120px 0;
}

.display-2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

.display-3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 100;
    text-transform: uppercase;
}

#three .display-3 {
    margin-bottom: 100px;
}

#three p {
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.611;
}

#three p img {
    margin-right: 40px;
}

.line_separator_v {
    background-color: rgb(213, 213, 213);
    width: 1px;
    height: 59px;
    margin-left: 21px;
}

#four {
    padding-top: 150px;
    background-color: #f8f9fb;
}

#five {
    padding-top: 150px;
    padding-bottom: 120px;
}

#five .card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

#six {
    background-color: #9e9e9e;
    padding: 50px 0;
}

#six .fa {
    font-size: 360%;
    display: inline-block;
    margin-right: 40px;
    color: rgb(3, 47, 62);
    line-height: 1.4;
    vertical-align: super;
}

#six p {
    font-size: 140%;
    font-family: "Roboto";
    color: rgb(3, 47, 62);
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1.4;
    display: inline-block;
    margin-bottom: 0;
}

#six p span {
    font-size: 150%;
    font-family: "Roboto";
    color: rgb(3, 47, 62);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
}

.btn-more {
    padding: 10px 40px;
    border-radius: 0;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(3, 47, 62);
    background-color: rgba(3, 47, 62, 0);
    font-family: "Roboto";
    font-size: 100%;
    color: rgb(3, 47, 62);
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
}

.btn-plan {
    padding: 10px 40px;
    border-radius: 0;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(3, 47, 62);
    background-color: rgb(3, 47, 62);
    font-size: 100%;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    margin: 15px;
}

#map {
    height: 450px;
}

#seven {
    background-color: #0d3542;
    padding-top: 100px;
    color: #fff;
    padding-bottom: 80px;
}

.f_logo {
    margin-bottom: 25px;
}

#seven p {
  font-size: 95%;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.643;
}

#seven .fa {
    margin-right: 15px;
}

#seven .line_separator {
    margin: 25px 0 40px 0;
}

#seven .content {
    margin-right: 100px;
}

.f_h4 {
  font-size: 100%;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.333;
  text-align: left;
}

#footer {
    background-color: #032f3e;
    padding: 35px 0;
}

#footer p {
  font-size: 95%;
  font-family: "Roboto";
  color: rgb(95, 115, 122);
  line-height: 1.714;
}

#footer .fa  {
  font-size: 100%;
  color: rgb(95, 115, 122);
  line-height: 1.2;
    margin: 0 20px;
}

