@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900&subset=latin-ext');
body {
    font-family: 'Muli', sans-serif;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button:focus,
a:focus {
    outline: none;
}

.font-weight-black {
    font-weight: 900 !important;
}

.box-shadow-15 {
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.15) !important;
}

.box-shadow-30 {
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.30) !important;
}

.w-08 {
    width: 8% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.pt-6 {
    padding-top: 4rem;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #DC3545;
}

.price-divider {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}

.ml--5 {
    margin-left: -5px;
}

.mr--5 {
    margin-right: -5px;
}

.mt--15 {
    margin-top: -15px;
}

.opacity-5 {
    opacity: .5;
}

.text-decore-none {
    text-decoration: none !important;
}

.up-bar .input-group-text {
    color: #fff;
    background-color: #dc3545;
}

.jumbotron {
    height: 90vh;
    padding-top: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.jumbotron .text-title {
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.jumbotron .btn {
    border: 0;
}

.jumbotron .btn-link {
    text-decoration: none;
}

.jumbotron .btn-icon {
    opacity: .3;
    border-radius: 0;
    color: #DC3545;
}

.jumbotron .btn-icon:hover,
.jumbotron .btn-icon:focus {
    opacity: 1;
    border-bottom: #DC3545 solid 3px;
    border-radius: 0;
}

#section-tyres {
    margin-top: -100px;
}

#section-tyres .card {
    min-height: 575px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .list-group-item {
    padding: .25rem 1.25rem;
    opacity: .8;
    transition: all .3s ease 0s;
}

.footer .list-group-item:hover {
    opacity: 1;
}

.footer .list-group-item .footer-icon {
    transform: scale(0);
    transition: all .3s ease 0s;
}

.footer .list-group-item:hover .footer-icon {
    transform: scale(1);
}

#section-product .table td,
.table th {
    padding: .30rem;
    vertical-align: top;
    border-top: 0;
}

#section-recommended .card {
    min-height: 575px;
}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 768px) {
    .jumbotron {
        padding-top: 0;
    }
    #section-tyres {
        margin-top: 300px;
    }
    #section-tyres h1 {
        color: #343a40 !important;
    }
}