@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');
body {
    background-image: url(fog.jpg);
    background-size: cover;
    background-position: center center;
    /* overflow: hidden; */
    font-family: 'Roboto', sans-serif;
    padding-top: 200px;
}

.card {
    overflow: hidden;
    text-align: center;
    /* width: 320px; */
    height: 535px;
    background-color: rgba(14, 15, 15, 0.2);
    /* background-image: url(fog.jpg);
    background-size: cover;
    background-position: center center; */
    border: 0;
    border-radius: 0;
    box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 1), inset 0 0 0 1000px rgba(175, 231, 231, 0.2);
    transition: all 0.4s cubic-bezier(.37, .26, .109, .2);
}

.card:hover {
    box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 1), inset 0 0 0 1000px rgba(175, 231, 231, 0.1);
}

.card:hover .avatar {
    animation: none;
    box-shadow: 0;
    width: 200px;
    height: 200px;;
}

.card:hover .card-body {
    opacity: 1;
    bottom: 0;;
}

.card-body {
    transition: all 0.5s cubic-bezier(.37, .26, .35, 1);
    opacity: 0;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.card-body h1 {
    padding: 0;
    margin: 0;
}

.card-body h3 {
    padding: 0;
    margin: 5px 0 40px 0;
    font-size: .9em;
}

.avatar {
    transition: all 0.4s cubic-bezier(.37, .26, .35, 1);
    animation: circleAn 4s infinite;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* background: url(boy.jpg); */
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
    box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, .6);
}

.line-height-08 {
    line-height: .8 !important;
}


/* Animations */
@keyframes circleAn {
    0% {
        box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, .6), 
                    0px 0px 0px 0px rgba(45, 49, 49, 1),
                    0px 0px 0px 0px rgba(45, 49, 49, .7),
                    0px 0px 0px 0px rgba(45, 49, 49, .5);
    }
    100% {
        box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, .6), 
                    0px 0px 0px 70px rgba(45, 49, 49, 0),
                    0px 0px 0px 200px rgba(45, 49, 49, 0),
                    0px 0px 0px 300px rgba(45, 49, 49, 0);
    }
}