@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');
body {
    background-image: url(fog.jpg);
    background-size: cover;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#card {
    overflow: hidden;
    text-align: center;
    width: 320px;
    height: 535px;;
    background-image: url(fog.jpg);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 1), inset 0 0 0 1000px rgba(65, 28, 134, 0.6);
    transition: all 0.4s cubic-bezier(.37, .26, .109, .2);
}

#card:hover {
    box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 1), inset 0 0 0 1000px rgba(65, 28, 134, 0.2);
}

#card:hover #avatar {
    animation: none;
    box-shadow: 0;
    width: 200px;
    height: 200px;;
}

#card:hover #profile {
    opacity: 1;
    bottom: 0;;
}

#profile {
    transition: all 0.5s cubic-bezier(.37, .26, .35, 1);
    opacity: 0;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

#profile h1 {
    color: white;
    padding: 0;
    margin: 0;
}

#profile h3 {
    color: #aaa;
    padding: 0;
    margin: 5px 0 40px 0;
    font-size: .9em;
}

#avatar {
    transition: all 0.4s cubic-bezier(.37, .26, .35, 1);
    animation: circleAn 4s infinite;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url(boy.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
    box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, .6);
}

@keyframes circleAn {
    0% {
        box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, .6), 
                    0px 0px 0px 0px rgba(102, 52, 105, 1),
                    0px 0px 0px 0px rgba(102, 52, 105, .7),
                    0px 0px 0px 0px rgba(102, 52, 105, .5);
    }
    100% {
        box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, .6), 
                    0px 0px 0px 70px rgba(102, 52, 105, 0),
                    0px 0px 0px 200px rgba(102, 52, 105, 0),
                    0px 0px 0px 300px rgba(102, 52, 105, 0);
    }
}