*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.sticky {
  /* postion: fixed */
  position: fixed;
  top: 0;
  width: 100%;
}

.btns-inline {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.btn {
  background: #ff6600;
  color: #fff;
  border: 2px solid #ff6600;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background: transparent;
}

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hero_image.jpg");
  background-position: center top;
  background-size: cover;
}

.upbar {
  background-color: #ff6600;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  height: 4rem;
}

.upbar a {
  display: flex;
  flex-flow: row wrap;
  color: #212529;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0 0.5rem;
  padding: 0 1rem;
}

.upbar a:hover .icon {
  margin-right: 1rem;
}

.upbar .icon {
  margin-right: 0.5rem;
  height: 1.3rem;
  transition: all 0.4s ease-in-out;
}

nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  background-color: #222533;
  padding: 1rem;
}

.logo {
  margin-right: auto;
}

.logo img {
  height: 4rem;
}

.navbar a {
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.navbar .active,
.navbar a:hover {
  font-weight: 700;
  color: #ff6600;
}

.hero {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: #fff;
  font-size: 8rem;
  width: 50%;
  text-align: center;
  font-weight: 700;
}

.hero h1 span {
  color: #ff6600;
}

.hero a {
  margin: 1rem;
}
