:root {
  --img: 80px;
  --amount: 5;
  --amount_small: 2;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  height: calc(100vh - 8em);
  font-family: "Muli", sans-serif;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin: 4em;
}

.container {
  width: 100%;
  overflow: hidden;
  position: relative;

  .items {
    display: flex;
    align-items: center;
    width: fit-content;
    animation: carouselAnim 60s infinite alternate linear;

    .entry {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 300px;
      background: #fff;
      margin: 1em;
      padding: 0.5em;
      border-radius: 10px;
      box-shadow: 4px 4px 5px 0px rgba($color: #000000, $alpha: 0.05);

      img {
        width: var(--img);
        height: var(--img);
        object-fit: cover;
        border-radius: 50%;
      }

      p {
        text-align: center;
        padding: 1em;
      }

      p.name {
        font-weight: 700;
      }

      @keyframes carouselAnim {
        from {
          transform: translate(0, 0);
        }
        to {
          transform: translate(calc(-100% + (var(--amount) * 300px)));
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .items {
      animation: carouselAnim 30s infinite alternate linear;
    }

    @keyframes carouselAnim {
      from {
        transform: translate(0, 0);
      }
      to {
        transform: translate(calc(-100% + (var(--amount_small) * 300px)));
      }
    }
  }

  .faders {
    width: 100%;
    position: absolute;
    height: 100%;

    .left,
    .right {
      background: linear-gradient(to right, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%);
      width: 20%;
      height: 100%;
      position: absolute;
      z-index: 200;
    }

    .right {
      background: linear-gradient(to left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%);
      right: 0;
    }
  }
}
