:root {
  --img: 80px;
  --amount: 5;
  --amount_small: 2;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  height: calc(100vh - 8em);
  font-family: "Muli", sans-serif;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin: 4em;
}

.container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.container .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: carouselAnim 60s infinite alternate linear;
          animation: carouselAnim 60s infinite alternate linear;
}

.container .items .entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 300px;
  background: #fff;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
}

.container .items .entry img {
  width: var(--img);
  height: var(--img);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.container .items .entry p {
  text-align: center;
  padding: 1em;
}

.container .items .entry p.name {
  font-weight: 700;
}

@-webkit-keyframes carouselAnim {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(calc(-100% + (var(--amount) * 300px)));
            transform: translate(calc(-100% + (var(--amount) * 300px)));
  }
}

@keyframes carouselAnim {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(calc(-100% + (var(--amount) * 300px)));
            transform: translate(calc(-100% + (var(--amount) * 300px)));
  }
}

@media only screen and (max-width: 768px) {
  .container .items {
    -webkit-animation: carouselAnim 30s infinite alternate linear;
            animation: carouselAnim 30s infinite alternate linear;
  }
  @-webkit-keyframes carouselAnim {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(calc(-100% + (var(--amount_small) * 300px)));
              transform: translate(calc(-100% + (var(--amount_small) * 300px)));
    }
  }
  @keyframes carouselAnim {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(calc(-100% + (var(--amount_small) * 300px)));
              transform: translate(calc(-100% + (var(--amount_small) * 300px)));
    }
  }
}

.container .faders {
  width: 100%;
  position: absolute;
  height: 100%;
}

.container .faders .left,
.container .faders .right {
  background: -webkit-gradient(linear, left top, right top, from(whitesmoke), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, whitesmoke 0%, rgba(255, 255, 255, 0) 100%);
  width: 20%;
  height: 100%;
  position: absolute;
  z-index: 200;
}

.container .faders .right {
  background: -webkit-gradient(linear, right top, left top, from(whitesmoke), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, whitesmoke 0%, rgba(255, 255, 255, 0) 100%);
  right: 0;
}
/*# sourceMappingURL=style.css.map */