@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');

body {
    margin: 0;
    padding: 0;
    /* padding: 20px;
    background: #bdc3c7; */
    font-family: 'Open Sans', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
}

.top-border {
    position: fixed;
    z-index: 99999;
    width: calc(100% - 20px);
    border: 10px solid #bdc3c7;
}

.bottom-border {
    position: fixed;
    z-index: 99999;
    width: calc(100% - 20px);
    border: 10px solid #bdc3c7;
    margin-top: calc(100vh - 20px);
}


.left-border {
    position: fixed;
    z-index: 99999;
    height: calc(100vh - 20px);
    border: 10px solid #bdc3c7;
}

.right-border {
    position: fixed;
    z-index: 99999;
    height: calc(100vh - 20px);
    border: 10px solid #bdc3c7;
    margin-left: calc(100% - 20px);
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.rounded {
    border-radius: .25rem !important;
}


.btn {
    font-size: .8rem;
    text-decoration: none;
    color: #111;
    border: 2px solid #111;
    margin: 35px 0;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    font-weight: 400;
    float: right;
}

.btn:hover {
    color: #d2b356;
    border: 2px solid #d2b356;
}

header {
    background: #fff;
    padding-top: 40px;
    height: calc(100vh - 40px);
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    padding: 20px;
}

nav a {
    color: #111;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

nav a:hover {
    opacity: .5;
    font-size: 14px;
}

nav ul {
    list-style: none;
}

.nav-logo {
    width: 15rem;
}


.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    text-transform: uppercase;
}

.nav-link {
    padding: 0 10px;
    font-size: 13px;
}

.social-memu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-link {
    padding: 0 10px;
    font-size: 13px;
}

.jubotron {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    height: calc(80vh - 70px);
    padding: 0 200px;
}

.hr:before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px;
    background: #d2b356;
}

.jubotron .content {
    width: 40vw;
}

.img-jumbotron {
    width: 30vw;
    /* transform: rotate(90deg); */

}

.jubotron h1 {
    font-size: 62px;
    line-height: 60px;
    font-weight: 800;
    color: #111;
    padding: 20px 0;
}

.jubotron h2 {
    font-size: 18px;
    font-weight: 300;
    color: #111;
    padding: 20px 0;
}

.nav-btn {
    text-decoration: none;
    color: #111;
    border: 3px solid #111;
    display: inline-block;
    margin-top: 35px;
    padding: 11px 16px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    font-weight: 600;
}

.nav-btn:hover {
    color: #d2b356;
    border: 3px solid #d2b356;
}

#section-news {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 50px 100px;
}

#section-news .left {
    width: 30vw;
}

#section-news .left h1 {
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
}

#section-news .left h2 {
    margin: 1.5rem 0;
}

#section-news .left p {
    margin: 1.5rem 0;
    font-size: 1.1rem;
    opacity: .5;
    line-height: 2rem;
}

#section-news .right {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

#section-news .right .content {
    width: 45%;
}

#section-news .right .content h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

#section-news .right .content p {
    font-size: 1rem;
    line-height: 1.5rem;
    opacity: .5;
}

.poster-img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
    object-fit: cover;
}

#section-work {
    padding: 50px 100px;
}

#section-work h1 {
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
}

.flex-gallery {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
}

.flex-gallery .flex-gallery-item {
    flex: auto;
    width: 450px;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    /* margin: .5vw; */
}

.flex-gallery .flex-gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: all .8s ease-in-out;
}

.flex-gallery .flex-gallery-item:hover img {
    opacity: .3;
}

@media screen and (max-width: 400px) {
    .flex-gallery .flex-gallery-item {
        margin: 1vw 0;
    }

    .flex-gallery {
        padding: 0;
    }
}

.flex-details {
    position: absolute;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
}

.flex-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.flex-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}

.flex-gallery .flex-gallery-item:hover .flex-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

#section-journalism {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

#section-journalism .article-text {
    width: 30vw;
}

#section-journalism .article-text h1 {
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
}

#section-journalism .article-text h2 {
    margin: 1.5rem 0;
}

#section-journalism .article-text p {
    margin: 1.5rem 0;
    font-size: 1.1rem;
    opacity: .5;
    line-height: 2rem;
}

#section-journalism .article-imgs {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

#section-journalism .article-img {
    max-width: 15vw;
    height: 250px;
    padding: 5px;
    object-fit: cover;
}

#section-media {
    padding: 50px 100px;
}

#section-media h1 {
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
}

.worko-tabs {
    margin: 20px;
    width: 100%;
    margin-top: 2rem;
}

.worko-tabs .state {
    position: absolute;
    left: -10000px;
}

.worko-tabs .flex-tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.worko-tabs .flex-tabs .tab {
    flex-grow: 1;
    max-height: 40px;
}

.worko-tabs .flex-tabs .panel {
    background-color: #fff;
    padding: 20px;
    min-height: 300px;
    display: none;
    width: 100%;
    flex-basis: auto;
}

.worko-tabs .tab {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    background-color: #eee;
    cursor: hand;
    cursor: pointer;
    border-left: 10px solid #ccc;
}

.worko-tabs .tab:hover {
    background-color: #fff;
}

#tab-one:checked~.tabs #tab-one-label,
#tab-two:checked~.tabs #tab-two-label {
    background-color: #fff;
    cursor: default;
    border-left-color: #69be28;
}

#tab-one:checked~.tabs #tab-one-panel,
#tab-two:checked~.tabs #tab-two-panel {
    display: block;
}

@media (max-width: 600px) {
    .flex-tabs {
        flex-direction: column;
    }

    .flex-tabs .tab {
        background: #fff;
        border-bottom: 1px solid #ccc;
    }

    .flex-tabs .tab:last-of-type {
        border-bottom: none;
    }

    .flex-tabs #tab-one-label {
        order: 1;
    }

    .flex-tabs #tab-two-label {
        order: 3;
    }

    .flex-tabs #tab-one-panel {
        order: 2;
    }

    .flex-tabs #tab-two-panel {
        order: 4;
    }

    #tab-one:checked~.tabs #tab-one-label,
    #tab-two:checked~.tabs #tab-two-label {
        border-bottom: none;
    }

    #tab-one:checked~.tabs #tab-one-panel,
    #tab-two:checked~.tabs #tab-two-panel {
        border-bottom: 1px solid #ccc;
    }
}