@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(10, 23, 39, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.pexels.com/photos/841131/pexels-photo-841131.jpeg?auto=compress&cs=tinysrgb&w=2160');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: #0A1727;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo img {
    height: 2em;
    margin-right: .5em;
}

.logo span {
    color: #E14636;
    font-weight: 400;
    margin-left: .5em;
}

.navbar {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto;
    grid-gap: .5em;
    align-items: center;
    text-align: center;
}

.navbar__item a {
    font-size: .8em;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
}

.navbar__item:hover a,
.navbar__item:focus a {
    color: #E14636;
}

.active a {
    color: #E14636;
}

.swiper-container {
    width: 100%;
    height: 80vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-shadow: 0 0 10px #000;
}

.swiper-pagination-bullet {
    width: 40px;
    height: 7px;
    display: inline-block;
    border-radius: 25px;
    background: transparent;
    opacity: 1;
    border: 1px solid #fff;
    transition: all .2s;

}

.swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
}

.priamry__text {
    color: #fff;
    text-transform: uppercase;
}

.priamry__text:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #fff;
    width: 140px;
}

.priamry__text:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #fff;
    width: 140px;
}

.secondary__text {
    color: #E14636;
    text-transform: uppercase;
}

#sec-about {
    padding: 70px 200px;
    background: linear-gradient(to right, rgba(34, 48, 83, .8), rgba(11, 18, 62, 1)), rgba(11, 18, 62, 1);
    color: #fff;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-between;
}

.col-1 {
    flex: 1;
    padding: 0 50px;
}

.col-2 {
    flex: 1;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.sec__tittle {
    color: #fff;
    background-color: #E14636;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 200px;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
}

.sec__tittle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -8px;
    right: -8px;
    background: #E14636;
}

.sec__tittle::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    bottom: -8px;
    right: -8px;
    background: #E14636;
}


.tittle {
    color: #E14636;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

.text {
    font-weight: 400;
    font-size: .9em;
}

.box {
    background-color: #F7FCFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
    flex: 1;
}

.box__icon {
    width: 3em;
    border-radius: 25px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.box__title {
    color: #29292B;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
}

.box__text {
    color: #909193;
    text-align: center;
    font-weight: 500;
    font-size: .8em;
}

#sec-classes {
    padding: 70px 200px;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.9)), url('https://images.pexels.com/photos/1430819/pexels-photo-1430819.jpeg?auto=compress&cs=tinysrgb&w=1500');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sec-classes .text {
    text-align: center;
    font-size: .8em;
    margin-top: 3em;
}

.flex-gallery {
    display: flex;
    flex-flow: row wrap;
    margin-top: 3em;
}

.flex-gallery .flex-gallery-item {
    flex: auto;
    width: 25%;
    margin: 2em;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: .9em;
    position: relative;
}

.flex-gallery .flex-gallery-item:hover .gallery__title {
    opacity: 0;
}

.flex-gallery .flex-gallery-item img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.gallery__title {
    color: #fff;
    background: #E14636;
    padding: 10px;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 55%;
    left: 25%;
    opacity: 1;
    transition: all .4s;
}

.gallery__item__title {
    color: #E14636;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}

.gallery__item__text {
    padding: 0 20px;
    font-weight: 500;
    font-size: .8em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

#sec-schedule {
    padding: 70px 200px;
    background: linear-gradient(to right, rgba(34, 48, 83, .8), rgba(11, 18, 62, 1)), rgba(11, 18, 62, 1);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sec-schedule .sec__tittle {
    color: #fff;
    background-color: #E14636;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 3em;
}

#sec-schedule .sec__tittle::before {
    content: "";
    position: absolute;
    width: 0;

}

#sec-schedule .sec__tittle::after {
    content: "";
    position: absolute;
    height: 0;
}

#sec-schedule .text {
    text-align: center;
}

.worko-tabs {
    margin-top: 4em;
    width: 80%;
    font-size: .8em;
}

.worko-tabs .state {
    position: absolute;
    left: -10000px;
}

.tabs-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    border-radius: 25px;
    background-color: #fff;
}

.worko-tabs .flex-tabs .tab {
    flex-grow: 1;
    border-radius: 25px;
}

.worko-tabs .flex-tabs .panel {
    /* background-color: #fff; */
    /* padding: 20px; */
    min-height: 300px;
    display: none;
    flex-basis: auto;
}

.worko-tabs .tab {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    color: #040404;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    cursor: hand;
    cursor: pointer;
    font-weight: 600;
}

.worko-tabs .tab:hover {
    background-color: #E14636;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    transform: scale(1.01);
}

#tab-one:checked~.tabs #tab-one-label,
#tab-two:checked~.tabs #tab-two-label,
#tab-three:checked~.tabs #tab-three-label,
#tab-four:checked~.tabs #tab-four-label,
#tab-five:checked~.tabs #tab-five-label,
#tab-six:checked~.tabs #tab-six-label {
    background-color: #E14636;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    transform: scale(1.01);
}

#tab-one:checked~.tabs #tab-one-panel,
#tab-two:checked~.tabs #tab-two-panel,
#tab-three:checked~.tabs #tab-three-panel,
#tab-four:checked~.tabs #tab-four-panel,
#tab-five:checked~.tabs #tab-five-panel,
#tab-six:checked~.tabs #tab-six-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.worko-tabs .box {
    background: transparent;
    padding: 60px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.worko-tabs .box__icon {
    width: 4em;
    border-radius: 0;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0);
}

.worko-tabs .box__title {
    color: #FB472E;
    font-size: 1.1em;
    margin: 1em 0;
}

.worko-tabs .box__text {
    color: #EDEDED;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #373938;
    border-radius: 25px;
    padding: 7px;
    width: 30%;
    display: block;
    margin: 0 auto;
    font-size: .8em;
}

.worko-tabs .box:nth-child(2),
.worko-tabs .box:nth-child(5) {
    color: #E14636;
    background: #fff;
}

.worko-tabs .box:nth-child(4),
.worko-tabs .box:nth-child(5),
.worko-tabs .box:nth-child(6) {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

#sec-discount {
    padding: 70px 200px;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.9)), url('https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=1500');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sec-discount .priamry__text {
    font-weight: 500;
    font-size: 1.8em;
}

#sec-discount .secondary__text {
    font-weight: 700;
    font-size: 2.5em;
    margin: .5em 0;
}

#sec-discount .more__text {
    font-weight: 400;
    font-size: .8em;
    text-align: center;
}

#sec-discount .priamry__text:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 0;
    content: " ";
    text-shadow: none;
    background-color: #fff;
    width: 140px;
}

#sec-discount .priamry__text:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 0;
    content: " ";
    text-shadow: none;
    background-color: #fff;
    width: 140px;
}

#sec-trainers {
    padding: 70px 200px;
    background: linear-gradient(to right, rgba(34, 48, 83, .8), rgba(11, 18, 62, 1)), rgba(11, 18, 62, 1);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sec-trainers .text {
    text-align: center;
    font-size: .8em;
    margin-top: 2em;
    margin-bottom: 5em;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.card {
    display: grid;
    grid-template-columns: auto 1fr;
    background: #111924;
    padding: 10px 0 10px 10px;
}

.card__top {
    background: #FC4236;
    color: #fff;
}

.card__img {
    /* width: 100%; */
    height: 20vh;
    object-fit: cover;
}

.card__top {
    padding: 10px 20px;
}

.card__title {
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0;
}

.card__subtitle {
    font-weight: 400;
    font-size: .8em;
    line-height: .8em;
    text-transform: uppercase;
    margin: 0;
}

.card__text {
    padding: 10px 20px;
    font-size: .8em;
}

.card__social {
    padding: 10px 20px 0 20px;
}

.btn__social {
    color: #fff;
    text-decoration: none;
    margin-right: 1em;
    transition: all .3s ease-in;
}

.btn__social:hover {
    color: #E14636;
}

#sec-plan {
    padding: 70px 200px;
    background:
        linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.9)),
        url('https://images.pexels.com/photos/260447/pexels-photo-260447.jpeg?auto=compress&cs=tinysrgb&w=1500');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sec-plan .text {
    text-align: center;
    font-size: .8em;
    margin-top: 2em;
    margin-bottom: 7em;
}

#sec-plan .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .5em;
    width: 60%;
}

#sec-plan .box {
    border-radius: 15px;
    padding: 0;
}

#sec-plan .box.plus {
    transform: scale(1.1);
}

#sec-plan .box__icon {
    width: 2.5em;
    border-radius: 15px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0);
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5em;
    margin-top: -1.5em;
    background: linear-gradient(rgba(253, 69, 59, 1), rgba(221, 8, 2, 1));
    padding: 10px;
}

#sec-plan .box__title {
    background: #F6F6F6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

#sec-plan .box__title h1 {
    color: #F63126;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
}

#sec-plan .box__title h2 {
    color: #F63126;
    text-transform: capitalize;
    font-weight: 500;
    font-size: .9em;
    padding: 0;
    margin: 0;
    line-height: .9em;
}

#sec-plan .box__text li {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
}


#sec-plan .box__price {
    padding: 24px;
}

#sec-plan .box__price .box__borderd {
    border: 2px solid #C3C4C6;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #FC423B;
}

.borderd__text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1em;
    align-items: end;
}

.borderd__text p {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: right;
}

.borderd__text h1 {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 2rem;
}

.borderd__text h2 {
    font-weight: 500;
    font-size: .8em;
    text-align: left;
    line-height: .8em;
    color: #87888A;
    margin-left: 2px;
}

.btn__price {
    background: #FC4236;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: .9em;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all .3s ease-in;
}

.btn__price:hover {
    color: #FC4236;
    background: transparent;
    border: 2px solid #FC4236;
}

.spacer {
    padding: 30px;
    background: linear-gradient(to right, rgba(34, 48, 83, .8), rgba(11, 18, 62, 1)), rgba(11, 18, 62, 1);
}

#sec-client {
    padding: 70px 200px;
    background:
        linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6)),
        url('https://images.pexels.com/photos/163351/girl-boxer-ring-boxing-pear-163351.jpeg?auto=compress&cs=tinysrgb&w=1500');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-between;
}

#sec-client .col-1 {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#sec-client .col-2 {
    flex: 1;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

#sec-client .sec__tittle {
    margin-bottom: 6em;
}

#sec-client .tittle {
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0;
}

#sec-client .subtittle {
    color: #C64138;
    font-weight: 500;
    font-size: 1.3em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin: 0;
}

#sec-client .quota {
    color: #fff;
    font-weight: 400;
    font-size: .8em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 4em;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

#sec-client .quota .fas {
    color: #C64138;
    font-size: 1.5em;
    margin: 0 10px;

}

.fa-quote-left {
    align-self: flex-start;
}

.fa-quote-right {
    align-self: flex-end;
}

#sec-client .signature {
    color: #fff;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-weight: 400;
    font-size: 2.5em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 1em;
    text-align: center;
    font-style: italic;
}

#sec-client .box__img {
    width: 80%;
    height: 60vh;
    object-fit: cover;
}

#sec-blog {
    padding: 70px 200px;
    background: linear-gradient(to right, rgba(34, 48, 83, .8), rgba(11, 18, 62, 1)), rgba(11, 18, 62, 1);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sec-blog .text {
    text-align: center;
    font-size: .8em;
    margin-top: 2em;
    margin-bottom: 5em;
}


#sec-blog .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: #fff;
    color: #434343;
    transition: all .2s;
    line-height: 30px;
    font-weight: 600;
}

#sec-blog .swiper-pagination-bullet-active {
    background: #FF3825 !important;
    color: #fff !important;
    border: 1px solid #FF3825 !important;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.blog__box {
    background: #F8FDFF;
    border-radius: 5px;
}

.blog__img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.blog__container {
    padding: 20px;
}

.blog__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: left;
    text-shadow: none;
    color: #FD0F0F;
}

.blog__subtitle {
    font-weight: 400;
    text-transform: uppercase;
    font-size: .7em;
    text-align: left;
    text-shadow: none;
    color: #858688;
    margin-bottom: 1em;
}

.blog__subtitle span {
    margin-left: 1em;
}

.blog__text {
    font-weight: 400;
    font-size: .6em;
    text-align: justify;
    text-shadow: none;
    color: #8C8C8E;
}

.blog__comments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
    border-top: 1px solid #C6CED1;
}

.blog__number {
    font-weight: 600;
    text-transform: uppercase;
    font-size: .7em;
    text-align: left;
    text-shadow: none;
    color: #EE312F;
}

.blog__more {
    font-weight: 600;
    text-transform: uppercase;
    font-size: .7em;
    text-align: right;
    text-shadow: none;
    color: #EE312F;
    text-decoration: none;
}

#sec-blog .swiper-container {
    height: auto;
    padding-bottom: 80px;
}

#sec-newsletter {
    padding: 70px 200px;
    background: #FC4236;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.newsletter__info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
    justify-items: end;
    align-items: center;
    border-right: 1px solid #fff;
    padding-right: 2em;
}

.info__title {
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
}

.info__number {
    font-size: 2em;
    font-weight: 600;
    line-height: 1em;
}

.fa-phone {
    background: #fff;
    padding: 15px;
    border-radius: 50%;
    color: #FC4236;
    font-size: 1.5em;
    transform: scaleX(-1);
}

.newsletter__form {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.newsletter__form form {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.newsletter__form label {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    margin-right: 1em;
    text-align: right;
}

.newsletter__form input {
    background: transparent;
    color: #fff;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: .9em;
    font-weight: 400;
    border: 2px solid #fff;
    border-radius: 25px;
}

.newsletter__form input::placeholder {
    font-size: .8em;
    color: #FF9198;
}

.newsletter__form button {
    background: #fff;
    color: #FC4236;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 25px;
    margin-left: 1em;
    border: 2px solid #fff;
    transition: all .3s ease;
}

.newsletter__form button .fa-arrow-right {
    margin-left: .5em;
    transition: all .3s ease;
}

.newsletter__form button:hover {
    background: transparent;
    color: #fff;
}

.newsletter__form button:hover .fa-arrow-right {
    margin-left: 1em;
}

footer {
    padding: 70px 200px 30px 200px;
    background: #000433;
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 2.5em;
}

footer .col {
    padding: 10px;
}

footer .logo {
    margin-bottom: 1em;
}

footer p {
    font-size: .9em;
    line-height: 1.2em;
    text-align: justify;
}

footer h4 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #FC4236;
    font-size: .8em;
    margin-bottom: 2em;
}

footer h5 {
    font-weight: 400;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    display: block;
    margin-left: 30%;
    font-size: .9em;
}

footer h2 {
    grid-column: 1 / 5;
    text-align: center;
    font-weight: 600;
    font-size: .8em;
    text-transform: uppercase;
}

/* MEDIA QUERY */

@media screen and (max-width: 400px) {
    .flex-gallery .flex-gallery-item {
        margin: 1vw 0;
    }

    .flex-gallery {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .flex-tabs {
        flex-direction: column;
    }

    .flex-tabs .tab {
        background: #fff;
        border-bottom: 1px solid #ccc;
    }

    .flex-tabs .tab:last-of-type {
        border-bottom: none;
    }

    .flex-tabs #tab-one-label {
        order: 1;
    }

    .flex-tabs #tab-two-label {
        order: 3;
    }

    .flex-tabs #tab-three-label {
        order: 5;
    }

    .flex-tabs #tab-four-label {
        order: 7;
    }

    .flex-tabs #tab-five-label {
        order: 9;
    }

    .flex-tabs #tab-six-label {
        order: 11;
    }

    .flex-tabs #tab-one-panel {
        order: 2;
    }

    .flex-tabs #tab-two-panel {
        order: 4;
    }

    .flex-tabs #tab-three-panel {
        order: 6;
    }

    .flex-tabs #tab-four-panel {
        order: 8;
    }

    .flex-tabs #tab-five-panel {
        order: 10;
    }

    .flex-tabs #tab-six-panel {
        order: 12;
    }

    #tab-one:checked~.tabs #tab-one-label,
    #tab-two:checked~.tabs #tab-two-label,
    #tab-three:checked~.tabs #tab-three-label,
    #tab-four:checked~.tabs #tab-four-label,
    #tab-five:checked~.tabs #tab-five-label,
    #tab-six:checked~.tabs #tab-six-label {
        border-bottom: none;
    }

    #tab-one:checked~.tabs #tab-one-panel,
    #tab-two:checked~.tabs #tab-two-panel,
    #tab-three:checked~.tabs #tab-three-panel,
    #tab-four:checked~.tabs #tab-four-panel,
    #tab-five:checked~.tabs #tab-five-panel,
    #tab-six:checked~.tabs #tab-six-panel {
        border-bottom: 1px solid #ccc;
    }
}