#upbar {
    min-height: 60px;
    background: #ff6600;
    border: 0;
    padding-top: 17px;
/*    padding-bottom: 17px;*/
}

#upbar li {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 15px;
    /*    margin-bottom: 5px;*/
}

.upbar-right {
    text-align: right;
    color: #000;
}

.up-icon {
    margin-right: 10px;
    height: 15px;
}

.up-social {
    color: #000;
    font-size: 25px;
/*    margin-right: 10px;*/
/*    height: 15px;*/
    vertical-align: -1px;
    -webkit-transition: 0.3s -webkit-transform linear;
    transition: 0.3s -webkit-transform linear;
    transition: 0.3s transform linear;
    transition: 0.3s transform linear, 0.3s -webkit-transform linear;
}

a .up-social:hover {
/*    height: 15px;*/
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s -webkit-transform linear;
    transition: 0.3s -webkit-transform linear;
    transition: 0.3s transform linear;
    transition: 0.3s transform linear, 0.3s -webkit-transform linear;
}

.navbar-default {
    height: 90px;
    background: #222533;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    float: left;
    height: 42px;
    padding: 0;
    margin-top: 15px;
    margin-left: 10%;
}

.logo {
    height: 140%;
}

.navbar-default .navbar-nav > li > a {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.6;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 33px;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-default .navbar-nav > li > a:hover {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: transparent;
}

.navbar-toggle {
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    border: 0;
    border-radius: 0x;
    margin-top: 25px;
    background-color: transparent;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #ffcb0f;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-collapse {
    background: #222533;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    padding-bottom: 15px;
    padding-left: 25px;
}

.jumbotron {
    color: #fff;
    text-align: center;
    padding: 5% 20%;
    padding-top: 10%;
    min-height: 85vh;
}

.jumbo-bg {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/frezmot/jumbo-bg.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/frezmot/jumbo-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.jumbotron h2 {
    /*    font-size: 2rem;*/
    font-family: 'Roboto Slab', serif;
    color: rgb(255, 255, 255);
    line-height: 1.8;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.jumbotron h1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.029;
    margin: 0;
    padding: 0;
}

.jumbotron h1 > span {
    color: #ff6600;
}

.jumbotron h5 {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 60px;
}

.btn-jumbo {
    border-radius: 10px;
    background-color: rgb(255, 102, 0);
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.814;
    border: 2px solid rgb(255, 102, 0);
    padding: 15px 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.btn-jumbo:hover {
    background-color: transparent;
    border: 2px solid rgb(255, 102, 0);
    color: #fff;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;
}

#about {
    background: #fff;
}

#about h1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 102, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-top: 10%;
}

#about h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(72, 72, 72);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

#about h5 {
    font-family: 'Roboto', sans-serif;
    color: rgb(72, 72, 72);
    line-height: 1.2;
    text-align: left;
}

.btn-about {
    border-radius: 10px;
    background-color: rgb(255, 203, 15);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.814;
    border: 2px solid rgb(255, 203, 15);
    padding: 15px 20px;
    margin-top: 30px;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.btn-about:hover {
    background-color: transparent;
    border: 2px solid rgb(255, 203, 15);
    color: #222;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;
}

#info {
    background: #f2f7fa;
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    padding-bottom: 60px;
}

#info h1 {
    color: rgb(72, 72, 72);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

#info h5 {
    color: rgb(72, 72, 72);
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
    text-align: center;
}

#outer-circle {
    background: rgba(255, 102, 0, .4);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto;
}

#inner-circle {
    position: absolute;
    background: rgba(255, 102, 0, .5);
    border-radius: 50%;
    height: 180px;
    width: 180px;
    top: 50%;
    left: 50%;
    margin: -90px 0px 0px -90px;
}

#center-circle {
    position: absolute;
    background: rgba(255, 102, 0, .8);
    border-radius: 50%;
    height: 160px;
    width: 160px;
    top: 50%;
    left: 50%;
    margin: -80px 0px 0px -80px;
}

#main-circle {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    height: 140px;
    width: 140px;
    top: 50%;
    left: 50%;
    margin: -70px 0px 0px -70px;
}

#main-circle span {
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    margin: -25px 0px 0px -25px;
    font-size: 50px;
}

.caption h4 {
    color: rgb(72, 72, 72);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.caption h5 {
    color: rgb(72, 72, 72);
    line-height: 1.2;
    text-align: center;
}

#services {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    text-align: left;
    padding-bottom: 100px;
}

#services h1 {
    color: rgb(72, 72, 72);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

#services h4 {
    color: rgb(72, 72, 72);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

#services h5 {
    color: rgb(72, 72, 72);
    line-height: 1.6;
    text-align: left;
    font-weight: 400;
}

#services p {
    text-align: left;
}

.btn-services {
    border-radius: 10px;
    background-color: rgb(255, 102, 0);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.814;
    border: 2px solid rgb(255, 102, 0);
    padding: 15px 20px;
    margin-top: 30px;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.btn-services:hover {
    background-color: transparent;
    border: 2px solid rgb(255, 102, 0);
    color: #222;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;
}

#projects {
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    text-align: left;
    padding-bottom: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 50, 64, .8)), to(rgba(47, 50, 64, .8))), url(../img/frezmot/projects-bg.jpg);
    background: linear-gradient(rgba(47, 50, 64, .8), rgba(47, 50, 64, .8)), url(../img/frezmot/projects-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#projects h1 {
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

#projects h4 {
    color: rgb(255, 255, 255);
    line-height: 1.6;
    text-align: center;
    padding: 0 20px;
}

#projects .nav-tabs {
    margin-top: 70px;
    margin-bottom: 60px;
    border-bottom: 0;
    width: 100%;
    text-align: center;
}

#projects .nav-tabs > li {
    float: none;
    display: inline-block;
}

#projects .nav-tabs > li > a {
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 25px;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;
}

#projects .nav-tabs > li > a:hover {
    background-color: rgb(255, 102, 0);
    font-weight: 700;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;
}

#projects .nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: rgb(255, 102, 0);
    font-weight: 700;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;
}

#projects .thumbnail {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#contact {
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    padding-bottom: 60px;
    border-bottom: 40px solid #ff6600;
}

#contact h1 {
    color: rgb(47, 50, 64);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: right;
    margin: 0;
    padding: 0;
    padding: 0 10px;
    margin-top: 5px;
}

#contact h2 {
    color: rgb(47, 50, 64);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    padding: 0 10px;
}

#contact .form-control {
    border: 2px solid rgb(47, 50, 64);
    border-radius: 10px;
    margin: 0 10px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    width: 100%;
}

#contact .form-width {
    min-width: 47%;
}

.btn-contact {
    border-radius: 10px;
    background-color: rgb(47, 50, 64);
    color: #fff;
    margin-left: 20px;
    border: 2px solid rgb(47, 50, 64);
    line-height: normal;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.btn-contact:hover {
    color: rgb(47, 50, 64);
    ;
    background-color: transparent;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;
}

#contact .btn-contact span {
    margin-right: 10px;
}

#contact .row {
    margin-bottom: 10px;
}

#contact .txt-big {
    text-align: left;
    color: #ff6600;
    font-size: 400%;
}

.footer-main {
    margin-bottom: -5px;
}

.footer-main h4 {
    margin-bottom: 40px;
}

.footer-main h5 {
    color: rgb(255, 255, 255);
    line-height: 1.6;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.footer-main p {
    padding: 0 15px;
}

.footer-main h6 {
    padding: 0 15px;
}

.footer-main .glyphicon {
    margin-right: 15px;
    margin-left: 15px;
}

.footer-info {
    text-align: center;
    background: #1a1c27;
    color: rgb(255, 255, 255);
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-info span {
    color: #ffcb0f;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #ff6600;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    border: 2px solid #ff6600;
}
#back-to-top:hover {
    background: #fff;
    color: #ff6600
}
#back-to-top.show {
    opacity: 1;
}
