body {
    box-sizing: border-box;
    border: 2px solid #444;
    padding: 10px 40px;
    font-family: 'Roboto', sans-serif;
    color: #444;
}

.top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 30%;
}

.informations {
    text-align: center;
}

.informations h1 {
    margin: 0;
    margin-bottom: 1rem;
}

.informations span {
    font-size: .9rem;
    color: rgba(68, 68, 68, .8);
    margin: 1rem;
}

.informations p {
    margin: 0;
    font-weight: bold;
}

.input-grup {
    display: flex;
    flex-flow: row wrap;
}