@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&subset=latin-ext");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
}

/* header */

header {
  padding: 0 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
}

.nav-logo {
  height: 2rem;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.nav-link {
  margin: 0 2px;
  transition: all 0.3;
}

.nav-link>a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0);
  border-radius: 25px;
}

.nav-link.active a,
.nav-link a:hover {
  background: rgba(255, 255, 255, 1);
}

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: calc(100vh - 100px);
}

.jumbotron .content {
  width: 75%;
  text-align: center;
}

.title {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  line-height: 5rem;
  margin-bottom: 2rem;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.title span {
  letter-spacing: -0.5rem;
}

.subtitle {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 3rem;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}

/* main */

main {
  background: #ffffff;
}

/* section-features */

/* section-gallery */

/* section-about */

/* section-contact */

/* footer */