@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,600,800&subset=latin-ext");
body {
  font-family: 'Raleway', sans-serif;
}

a:focus,
button:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

.text-main {
  color: #576671;
}

.bg-second {
  background: #17daa3 !important;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 786px) {
  .py-100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.navbar {
  min-height: 100px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (max-width: 786px) {
  .navbar {
    background: rgba(87, 102, 113, 0.8) !important;
    min-height: 60px;
  }
}

.navbar .nav-item {
  margin: 0 10px;
}

.navbar .nav-link {
  font-size: .8rem;
  font-weight: 600;
}

.navbar .navbar-nav .dropdown-menu {
  padding: 10px;
  width: 400px;
  border: 0;
}

@media (max-width: 786px) {
  .navbar .navbar-nav .dropdown-menu {
    width: 275px;
    background: transparent;
    border: 0;
  }
}

.navbar .navbar-nav .dropdown-menu .form-inline .form-control {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(30, 40, 43, 0.2);
  border-radius: 0;
  font-size: .8rem;
}

.navbar .navbar-nav .dropdown-menu .form-inline .form-group {
  width: 100%;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

.jumbotron {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("https://source.unsplash.com/mpWPcRT9D1E");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/mpWPcRT9D1E");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.jumbotron .swiper-container {
  width: 100%;
  height: 100%;
}

@media (max-width: 786px) {
  .jumbotron .swiper-container {
    margin-top: 60px;
  }
}

.jumbotron .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.jumbotron .swiper-slide h1 {
  font-weight: 200;
}

.jumbotron .swiper-slide .btn-outline-light {
  border: 2px solid #fff;
  padding: 7px 30px;
  border-radius: 20px;
  font-size: .8rem;
  font-weight: 600;
}

.jumbotron .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.jumbotron .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.jumbotron .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  opacity: 1;
  border: 2px solid #fff;
}

.jumbotron .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}

.typed-cursor {
  display: none !important;
}

.title {
  font-size: 60px;
  line-height: 1.6;
}

@media (max-width: 786px) {
  .title {
    font-size: 40px;
    line-height: 1.4;
  }
}

.subtitle {
  margin-bottom: 5rem;
}

hr.divider {
  border-top: 1px solid #17daa3;
  width: 30px;
}

#section-about .card:hover .card-img-top {
  background: #17daa3;
}

#section-about .card-img-top {
  width: 96px;
  height: 96px;
  margin: 0 auto;
  background: #edeff1;
  padding: 2rem;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#section-about .card-title {
  font-weight: 600;
}

#section-about .icon {
  width: 32px;
  height: 32px;
}

#section-info-1 {
  background: #f9f9fa;
}

#section-info-1 .btn {
  padding: 7px 30px;
  border-radius: 20px;
  font-size: .8rem;
  font-weight: 600;
}

#section-info-2 {
  background: #fff;
}

#section-info-2 .btn {
  padding: 7px 30px;
  border-radius: 20px;
  font-size: .8rem;
  font-weight: 600;
}

#section-opinions {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("https://source.unsplash.com/6bKpHAun4d8");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://source.unsplash.com/6bKpHAun4d8");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
}

#section-opinions .swiper-container {
  width: 100%;
  height: 100%;
}

@media (max-width: 786px) {
  #section-opinions .swiper-container {
    margin-top: 60px;
  }
}

#section-opinions .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#section-opinions .swiper-slide h1 {
  font-weight: 200;
}

#section-opinions .swiper-slide .btn-outline-light {
  border: 2px solid #fff;
  padding: 7px 30px;
  border-radius: 20px;
  font-size: .8rem;
  font-weight: 600;
}

#section-opinions .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

#section-opinions .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

#section-opinions .swiper-pagination {
  bottom: 200px;
}

#section-opinions .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  opacity: 1;
  border: 2px solid #fff;
}

#section-opinions .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}

#section-opinions .img-face {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

#section-services {
  background: #f9f9fa;
}

#section-services .image-box {
  width: 96px;
  height: 96px;
  margin: 0 auto;
  background: #fff;
  padding: 2rem;
  border-radius: 50%;
}

@media (max-width: 786px) {
  #section-services .image-box {
    width: 72px;
    height: 72px;
    padding: 1.5rem;
  }
}

#section-services .icon {
  width: 32px;
  height: 32px;
}

@media (max-width: 786px) {
  #section-services .icon {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 786px) {
  #section-services h1 {
    font-size: 1.5rem;
  }
}

.cover-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-height: 300px;
  max-width: 1000px;
}

#section-team {
  padding-bottom: 0;
}

#section-team .card {
  height: 300px;
  overflow: hidden;
}

#section-team .card .card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#section-team .card .card-body {
  opacity: 0;
  background: rgba(23, 218, 163, 0.8);
  color: #fff;
  height: 100%;
  padding: 100px 30px 30px 30px;
}

#section-team .card:hover .card-body {
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#section-pricing {
  background: #f9f9fa;
}

#section-pricing a {
  font-size: .9rem;
  letter-spacing: .2rem;
}

#section-pricing a:hover {
  text-decoration: none;
}

#section-pricing .font-weight-bold {
  font-weight: 600 !important;
}

#section-pricing i {
  margin-left: 5rem;
}

#section-pricing .card-header {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#section-pricing .card-header h4 {
  color: #17daa3;
}

#section-pricing .list-unstyled {
  line-height: 2rem;
}

#section-pricing .card-footer {
  border-top: 0px solid rgba(0, 0, 0, 0.125);
  position: relative;
}

#section-pricing .card-footer:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#section-pricing .card-footer:hover {
  cursor: pointer;
}

#section-pricing .card-footer:hover:before {
  width: 100%;
}

#section-informations .btn {
  padding: 7px 30px;
  border-radius: 20px;
  font-size: .8rem;
  font-weight: 600;
}

#section-contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("https://source.unsplash.com/HkF6feHrGBE");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://source.unsplash.com/HkF6feHrGBE");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

@media (max-width: 786px) {
  #section-contact {
    min-height: 450px;
  }
}

#section-contact .card {
  padding: 4rem;
}

#section-contact .card .form-control {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ced4da;
}

@media (max-width: 786px) {
  #section-contact .card {
    padding: 1rem;
  }
}

#section-contact .btn {
  background: #17daa3;
  border: 1px solid #17daa3;
  padding: 7px 30px;
  border-radius: 20px;
  font-size: .8rem;
  font-weight: 600;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#section-contact .btn:hover {
  background: transparent;
  color: #17daa3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#section-contact .btn-social {
  padding: 15px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: #ffffff;
}

#section-contact .btn-social:hover {
  background: transparent;
  color: #17daa3;
  font-size: .9rem;
  padding: 13px;
}

@media (max-width: 786px) {
  #section-contact h1 {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */