@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,600,800&subset=latin-ext');
body {
    font-family: 'Raleway', sans-serif;
}

a:focus,
button:focus {
    outline: none;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

.text-main {
    color: rgb(87, 102, 113);
}

.bg-second {
    background: #17daa3 !important;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
    @media (max-width: 786px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.navbar {
    min-height: 100px;
    transition: all .3s ease-in-out;
    @media (max-width: 786px) {
        background: rgba(87, 102, 113, .8) !important;
        min-height: 60px;
    }
    .nav-item {
        margin: 0 10px;
    }
    .nav-link {
        font-size: .8rem;
        font-weight: 600;
    }
    .navbar-nav .dropdown-menu {
        padding: 10px;
        width: 400px;
        border: 0;
        @media (max-width: 786px) {
            width: 275px;
            background: transparent;
            border: 0;
        }
        .form-inline {
            .form-control {
                width: 100%;
                border: 0;
                border-bottom: 1px solid rgba(#1e282b, .2);
                border-radius: 0;
                font-size: .8rem;
            }
            .form-group {
                width: 100%;
            }
        }
    }
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/mpWPcRT9D1E');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    .swiper-container {
        width: 100%;
        height: 100%;
        @media (max-width: 786px) {
            margin-top: 60px;
        }
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        height: 70vh;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        h1 {
            font-weight: 200;
        }
        .btn-outline-light {
            border: 2px solid #fff;
            padding: 7px 30px;
            border-radius: 20px;
            font-size: .8rem;
            font-weight: 600;
        }
    }
    .swiper-button-next {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
    }
    .swiper-button-prev {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: transparent;
        opacity: 1;
        border: 2px solid #fff;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #fff;
    }
}

.typed-cursor {
    display: none !important;
}

.title {
    font-size: 60px;
    line-height: 1.6;
    @media (max-width: 786px) {
        font-size: 40px;
        line-height: 1.4;
    }
}

.subtitle {
    margin-bottom: 5rem;
}

hr.divider {
    border-top: 1px solid #17daa3;
    width: 30px;
}

#section-about {
    .card:hover {
        .card-img-top {
            background: #17daa3;
        }
    }
    .card-img-top {
        width: 96px;
        height: 96px;
        margin: 0 auto;
        background: #edeff1;
        padding: 2rem;
        border-radius: 50%;
        transition: all .3s ease-in-out;
    }
    .card-title {
        font-weight: 600;
    }
    .icon {
        width: 32px;
        height: 32px;
    }
}

#section-info-1 {
    background: #f9f9fa;
    .btn {
        padding: 7px 30px;
        border-radius: 20px;
        font-size: .8rem;
        font-weight: 600;
    }
}

#section-info-2 {
    background: #fff;
    .btn {
        padding: 7px 30px;
        border-radius: 20px;
        font-size: .8rem;
        font-weight: 600;
    }
}

#section-opinions {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://source.unsplash.com/6bKpHAun4d8');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
    .swiper-container {
        width: 100%;
        height: 100%;
        @media (max-width: 786px) {
            margin-top: 60px;
        }
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        height: 700px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        h1 {
            font-weight: 200;
        }
        .btn-outline-light {
            border: 2px solid #fff;
            padding: 7px 30px;
            border-radius: 20px;
            font-size: .8rem;
            font-weight: 600;
        }
    }
    .swiper-button-next {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
    }
    .swiper-button-prev {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
    }
    .swiper-pagination {
        bottom: 200px;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: transparent;
        opacity: 1;
        border: 2px solid #fff;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #fff;
    }
    .img-face {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-bottom: 20px;
        object-fit: cover;
    }
}

#section-services {
    background: #f9f9fa;
    .image-box {
        width: 96px;
        height: 96px;
        margin: 0 auto;
        background: #fff;
        padding: 2rem;
        border-radius: 50%;
        @media (max-width: 786px) {
            width: 72px;
            height: 72px;
            padding: 1.5rem;
        }
    }
    .icon {
        width: 32px;
        height: 32px;
        @media (max-width: 786px) {
            width: 24px;
            height: 24px;
        }
    }
    h1 {
        @media (max-width: 786px) {
            font-size: 1.5rem;
        }
    }
}

.cover-image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-height: 300px;
    max-width: 1000px;
}

#section-team {
    padding-bottom: 0;
    .card {
        height: 300px;
        overflow: hidden;
        .card-img-top {
            object-fit: cover;
            object-position: center;
        }
        .card-body {
            opacity: 0;
            background: rgba(#17daa3, .8);
            color: #fff;
            height: 100%;
            padding: 100px 30px 30px 30px;
        }
        &:hover {
            .card-body {
                opacity: 1;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all .3s ease-in-out;
            }
        }
    }
}

#section-pricing {
    background: #f9f9fa;
    a {
        font-size: .9rem;
        letter-spacing: .2rem;
        &:hover {
            text-decoration: none;
        }
    }
    .font-weight-bold {
        font-weight: 600 !important;
    }
    i {
        margin-left: 5rem;
    }
    .card-header {
        background: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        h4 {
            color: #17daa3;
        }
    }
    .list-unstyled {
        line-height: 2rem;
    }
    .card-footer {
        border-top: 0px solid rgba(0, 0, 0, .125);
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0px;
            height: 100%;
            background: rgba(255, 255, 255, 0.3);
            transition: all .5s ease-in-out;
        }
        &:hover {
            cursor: pointer;
            &:before {
                width: 100%;
            }
        }
    }
}

#section-informations {
    .btn {
        padding: 7px 30px;
        border-radius: 20px;
        font-size: .8rem;
        font-weight: 600;
    }
}

#section-contact {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://source.unsplash.com/HkF6feHrGBE');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 750px;
    @media (max-width: 786px) {
        min-height: 450px;
    }
    .card {
        padding: 4rem;
        .form-control {
            background-color: transparent;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid #ced4da;
        }
        @media (max-width: 786px) {
            padding: 1rem;
        }
    }
    .btn {
        background: #17daa3;
        border: 1px solid #17daa3;
        padding: 7px 30px;
        border-radius: 20px;
        font-size: .8rem;
        font-weight: 600;
        transition: all .3s ease-in-out;
        &:hover {
            background: transparent;
            color: #17daa3;
            transform: scale(1.1);
        }
    }
    .btn-social {
        padding: 15px;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        color: #ffffff;
        &:hover {
            background: transparent;
            color: #17daa3;
            font-size: .9rem;
            padding: 13px;
        }
    }
    h1 {
        @media (max-width: 786px) {
            text-align: center;
        }
    }
}