/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Overpass&subset=latin-ext'); */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&subset=latin-ext');

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Poppins';
}

* {
	outline: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

header {
	padding-top: 70px;
	min-height: 100vh;
	background: url('./img/rocket.svg') no-repeat;
	background-position: right bottom;
	background-size: 80vw;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
	background-color: #fff;
	padding: 0 100px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	min-height: 90px;
	/* box-shadow: 0 0px 5px rgba(0, 0, 0, 0.10); */
}

/* .logo {
	color: rgb(230, 76, 60);
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
}

.logo span {
	font-weight: normal;
	text-transform: capitalize;
} */

.logo {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	font-size: 1.2rem;
	font-weight: normal;
	color: rgb(230, 76, 60);
	letter-spacing: .2px;
}

.logo img {
	height: 2rem;
	margin-right: .5rem;
}

.logo span {
	opacity: .5;
	font-weight: bold;
}

.navigation {
	justify-content: space-between;
	display: flex;
}

#toggle {
	display: none;
}

label {
	color: turquoise;
	cursor: pointer;
	display: none;
}

.sec-title {
	color: rgb(42, 47, 83);
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
	margin: 0 0 4rem 0;
}

.sec-text {
	text-align: center;
	padding: 4rem;
	margin: 0;
	color: rgb(136, 138, 156);
	line-height: 1.733;
	text-align: center;
}

.nav-item {
	color: rgb(230, 76, 60);
	padding: 7px 25px;
	margin: 0 .5rem;
	border-radius: 5px;
	font-size: .8rem;
	font-weight: 500;
	align-self: center;
	border: 2px solid transparent;
	transition: all .3s ease-in-out;
}

.nav-item.active,
.nav-item:hover,
.nav-item:focus {
	color: rgb(230, 76, 60);
	border: 2px solid rgba(230, 76, 60, .8);
}

nav a {
	transition: all .3s ease-in-out;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 90vh;
	padding: 0 100px;
}

.hero-content {
	max-width: 40vw;
}

.hero-content h1 {
	color: rgb(230, 76, 60);
	font-size: 5rem;
	margin-top: 0;
	line-height: 5rem;
	letter-spacing: 1px;
}

.hero-content span {
	font-weight: 600;
}

.hero-content p {
	text-align: justify;
	margin-bottom: 4rem;
}

.btn {
	padding: 5px 40px;
	border-radius: 5px;
	color: #fff;
	border: 2px solid rgb(230, 76, 60);
	background-color: rgb(230, 76, 60);
	transition: all .3s ease-in-out;
}

.btn:hover {
	background-color: transparent;
	color: rgb(230, 76, 60);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-outline {
	padding: 10px 50px;
	border-radius: 5px;
	color: rgb(230, 76, 60);
	background-color: transparent;
	border: 2px solid rgb(230, 76, 60);
	transition: all .3s ease-in-out;
}

.btn-outline:hover {
	color: #fff;
	background-color: rgb(230, 76, 60);
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.hero .btn {
	margin-right: 15px;
}

.socials {
	margin-top: 4rem;
}

.socials-item i {
	color: rgb(230, 76, 60);
	border: 2px solid rgb(230, 76, 60);
	border-radius: 50%;
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 0 10px;
	text-align: center;
	line-height: 35px;
	transition: all .2s ease-in;
}

.socials-item:hover i {
	background: rgb(230, 76, 60);
	color: #fff;
	box-shadow: 0px 0px 35px 0px rgba(163, 169, 174, 0.25);
}

section[id^="sec-"] {
	padding: 120px;
}

.container {
	display: flex;
	flex-flow: row wrap;
}

.container > * {
	flex: 1 100%;
}

.box {
	background: #fff;
	flex: 1;
	margin: 0 2rem;
	border-radius: 1rem;
	text-align: center;
	padding: 2rem;
	border: 5px solid transparent;
	transition: all .3s ease-in-out;
}

.box:hover {
	background: transparent;
	border: 5px solid #fff;
}

.box__img {
	width: 82px;
}

.box__title {
	font-weight: bold;
	font-size: 1rem;
	color: #425072;
}

.box__text {
	font-size: .9rem;
	color: #425072;
	opacity: 0.7;
}

#sec-process {
	background: #f8f9fd;
}

#sec-job {
	background: linear-gradient(rgba(107, 115, 255, .7), rgba(107, 115, 255, .7)), url('./img/job-bg.jpg');
	background-size: cover;
	background-position: center;
}

#sec-job .sec-title {
	color: #fff;
}

#sec-job .box {
	margin: 3rem 1.5rem 0 1.5rem;
}

#sec-job .box__title {
	margin: 0;
}

#sec-customers {
	background-color: #f8f9fd;
	background-repeat: no-repeat;
	background-size: 351px;
	background-position: 10vw 25vh;
}

/* SWIPER */
.swiper-container {
	width: 100%;
	height: 100%;
	padding-bottom: 150px;
}
.swiper-slide {
	text-align: center;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 3rem;
}

.swiper__image {
	width: 87px;
	height: 87px;
	border-radius: 50%;
	object-fit: cover;
}

.swiper__title {
	position: relative;
	font-weight: bold;
	color: #425072;
}

.swiper__title:after {
	content: url('img/quote.svg');
	position: absolute;
	top: -100px;
	left: -100px;
}

.swiper__text {
	font-weight: normal;
	font-size: .9rem;
	line-height: 23px;
	text-align: center;
	color: #425072;
	opacity: 0.8;
}

.swiper-pagination-bullet {
	width: 13px;
	height: 13px;
}

.swiper-pagination-bullet-active {
	background: #425072;
}
/*  */

.happy {
	text-align: center;
	margin-top: 5rem;
}

.happy h2,
.happy p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-transform: uppercase;
	color: #5e57a7;
}

.happy h2 {
	font-size: 7rem;
	line-height: 7rem;
}

.happy p {
	margin-bottom: 4rem;
}

.happy img {
	flex: 0;
	width: 10%;
	margin: 0 1rem;
	opacity: .5;
}

@media (max-width: 768px) {
	nav {
		padding: 10px;
	}

	label {
		display: block;
	}

	.navigation {
		height: 0;
		width: 100%;
		opacity: 0;
		display: flex;
		flex-direction: column;
		text-align: right;
		transition: all .3s ease-in-out;
	}

	#toggle:checked + .navigation {
		opacity: 1;
		height: 100%;
		padding-top: 20px;
	}

	.nav-item {
		margin: 10px 20px;
	}
}
