@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
        "header header header"
        "content content content"
        "footer footer footer";
}

header {
    grid-area: header;
    background: transparent;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px 200px;
    align-items: center;

}

main {
    grid-area: content;
    background: #B8E986;
}

footer {
    grid-area: footer;
    background: #E9C886;
}

/*  */

.img-logo {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 5vh;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: #34495e;
    font-weight: bold;
    padding: 10px 0;
    transition: all .4s ease-in-out;
    border-radius: 25px;
}

.nav-link:hover {
    background: #34495e;
    color: #ffffff;
}