*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

header {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("./img/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 8%;
}

nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  margin-right: auto;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  order: 1;
}

.logo a {
  color: #fff;
  font-weight: 900;
  font-size: 5rem;
  line-height: 5rem;
  text-decoration: none;
}

.logo span {
  display: block;
  text-align: center;
  font-size: 1.2rem;
}

.logo:hover {
  margin-left: 1rem;
}

.navbar {
  display: flex;
  flex-flow: row;
  order: 2;
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem;
  margin: 0 0.5rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.navbar a::after {
  position: absolute;
  bottom: 12px;
  left: 0;
  content: "";
  height: 2px;
  width: 0;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover::after,
.navbar a.active::after {
  position: absolute;
  bottom: 12px;
  left: 5px;
  content: "";
  height: 2px;
  width: 3rem;
  background: #db3239;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover,
.navbar a.active {
  padding: 0.5rem 1rem;
  color: #db3239;
}

.socials {
  display: flex;
  flex-direction: row;
  order: 3;
  margin-left: 5rem;
}

.socials a {
  text-decoration: none;
  margin-left: 1rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0.75rem;
}

.socials img {
  height: 1.5rem;
  transition: all 0.4s ease-in-out;
}

.socials a:hover img {
  transform: rotate(360deg);
}

.hero {
  color: #fff;
}

.hero h1 {
  font-family: "Merriweather", serif;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 900;
  width: 50vw;
  margin: 0 0 3rem 0;
}

.hero p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

header .btn {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  border: 0.4rem solid #fff;
  margin-right: 2rem;
  padding: 1.5rem;
  transition: all 0.4s ease-in;
  vertical-align: middle;
}

header .btn img {
  margin-left: 7rem;
  height: 1.5rem;
  vertical-align: middle;
}

header .btn.active,
.btn:hover {
  background: #0541e5;
  border: 0.4rem solid #0541e5;
}

.section-title {
  margin: 0 0 5rem 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 7rem;
  position: relative;
}

#about {
  background: #141414;
  color: #fff;
}

#about .row {
  justify-content: space-between;
}

#about img {
  width: 50%;
  height: 40rem;
  object-fit: cover;
  object-position: center;
}

#about .content {
  max-width: 50%;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about .subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  margin: 0;
  color: #db3239;
  text-transform: uppercase;
}

#about .text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-align: justify;
  color: gray;
}

#video {
  font-family: "Montserrat", sans-serif;
  background: #000;
  color: #fff;
}

#video .row {
  justify-content: space-between;
  padding: 10rem 8rem;
}

#video .box {
  width: 30%;
}

#video iframe {
  border: 0;
  width: 100%;
  height: 40vh;
}

#video p {
  margin: 2rem 0 0 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: grey;
  text-align: center;
}

#offer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  background: rgba(12, 12, 14, 1);
  color: #fff;
  padding: 10rem 8rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

#offer .card:last-of-type {
  text-align: right;
}

#offer img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}

#offer h4 {
  font-size: 3rem;
}

#offer p {
  font-size: 2rem;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

#gallery img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  object-position: center;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
}

.contact__form {
  width: 50%;
  margin: 7rem 0;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form__group label {
  font-size: 1.6rem;
  color: #db3239;
  font-weight: 700;
}

.form__group input,
.form__group textarea {
  border: none;
  border: 1px solid #db3239;
  background: transparent;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}

.form__group input::placeholder,
.form__group textarea::placeholder {
  color: #d9d9d9;
}

.form__group small {
  font-size: 1.1rem;
  opacity: 0.5;
}

.contact__form .btn {
  border: none;
  color: #fff;
  max-width: 25%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 2rem;
  padding: 1rem 3rem;
  transition: all 0.4s ease-in;
  vertical-align: middle;
  background: #0541e5;
  border: 0.4rem solid #0541e5;
  cursor: pointer;
}

.contact__form .btn:hover {
  background: transparent;
  color: rgb(12, 0, 255);
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: #141414;
  padding: 2rem 10rem;
  color: #fff;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.footer__logo {
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
}

footer .socials a {
  margin-left: 0rem;
}
