@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}

header {
  /* min-height: 70vh; */
  display: flex;
  flex-flow: column;
  padding: 40px 140px;
}

section {
  padding: 40px 140px;
}

.row-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.row-sb {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  margin-right: auto;
  text-decoration: none;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.4s ease-in-out;
}

.logo:hover {
  margin-left: 1rem;
}

.menu {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.menu__link {
  color: rgb(153, 153, 153);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 30px;
  padding: 10px 10px 5px 10px;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.menu__link::after,
.active::after {
  position: absolute;
  bottom: 0;
  left: 10px;
  content: "";
  width: 0;
  border-bottom: 2px solid rgb(218, 218, 218);
  transition: all 0.4s ease-in-out;
}

.menu__link.active,
.menu__link:hover {
  color: rgb(0, 0, 0);
  position: relative;
}

.menu__link:hover::after,
.active::after {
  width: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30vh 0 15vh 0;
}

.hero__title,
.sec-title {
  font-size: 4.8rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.875rem;
}

.hero__subtitle,
.sec-subtitle {
  font-size: 1.6rem;
  color: rgb(153, 153, 153);
  line-height: 1.5rem;
  font-weight: 300;
  width: 40%;
}

#sec-portfolio {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 40px;
  grid-auto-rows: 50vh;
}

.card {
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.card__overlay {
  background: rgba(255, 255, 255, 0.8);
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  transition: all 0.5s ease-in-out;
}

.card:hover .card__overlay {
  opacity: 1;
  cursor: pointer;
  height: 100%;
}

.card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  object-position: top;
}

.card:nth-child(1),
.card:nth-child(3),
.card:nth-child(6),
.card:nth-child(7) {
  grid-column-start: span 5;
}

.card:nth-child(2),
.card:nth-child(5) {
  grid-column-start: span 5;
  grid-row-start: span 2;
}

.card:nth-child(4) {
  grid-column-start: span 10;
  grid-row-start: span 2;
}

.card__title {
  font-size: 1.4rem;
  color: rgb(12, 0, 255);
  font-weight: bold;
  margin: 0;
}

.card__category {
  color: #fff;
  background: rgb(12, 0, 255);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.box {
  width: 30%;
  margin: 0 1rem;
  background: #d9d9d9;
  padding: 1rem;
}

.col-50 {
  width: 50%;
  padding: 1rem;
}

.col-40 {
  width: 40%;
  padding: 1rem;
}

.col-60 {
  width: 60%;
  padding: 1rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.title {
  font-size: 4rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: 0 0 1rem 1rem;
  letter-spacing: .1px;
}

.technology__box {
  display: flex;
  display: row wrap;
  align-items: center;
  opacity: .5;
  transition: all .5s ease-out;
  cursor: pointer;
  margin-bottom: 1rem;
}

.technology__box:hover {
  opacity: 1;
}

.technology__box h2 {
  margin: 0 0 0 1rem;
}

.subtitle {
  font-size: 1.6rem;
  color: rgb(153, 153, 153);
  padding: 0;
  letter-spacing: .1px;
  text-align: justify;
  font-family: "Roboto";
  font-weight: 400;
}

#sec-about .sec-title {
  margin-bottom: 7rem;
}

#sec-about .col-60 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-left: 2rem;
}

.about__title {
  font-size: 1.5rem;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  margin: .5rem 0;
}

.about__text {
  font-size: 1.4rem;
  font-family: "Roboto";
  font-weight: 300;
  color: rgb(153, 153, 153);
  line-height: 1.714;
}

.about__icon {
  height: 2.4rem;
}

.contact__form {
  width: 50%;
  margin: 7rem 0;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form__group label {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: rgb(119, 119, 119);
  font-weight: 700;
}

.form__group input,
.form__group textarea {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.form__group input::placeholder,
.form__group textarea::placeholder {
  color: #d9d9d9;
}

.form__group small {
  font-size: 1.1rem;
  opacity: 0.5;
}

.contact__form .btn {
  border: none;
  color: #fff;
  max-width: 25%;
  padding: 1rem;
  border-radius: 2px;
  background-color: rgb(12, 0, 255);
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid rgb(12, 0, 255);
  transition: all 0.4s ease-in;
}

.contact__form .btn:hover {
  background: transparent;
  color: rgb(12, 0, 255);
}

#footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 140px;
}

footer h3 {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(12, 0, 255);
  font-weight: bold;
  margin: 0 0 1.9rem 0;
}

footer p {
  font-size: 1.2rem;
  color: rgb(119, 119, 119);
  padding: 0;
  margin: 0;
  text-decoration: none;
}

footer a {
  margin-right: 3rem;
}

footer img {
  height: 1.8rem;
  width: 1.8rem;
}

.toTop {
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.toTop img {
  transition: all 0.3s ease-in;
  height: 3rem;
}

.toTop:hover img {
  transform: rotate(360deg);
}