@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&subset=cyrillic-ext');

body {
    font-family: 'Didact Gothic', sans-serif;
}

button:focus,
a:focus {
    outline: none;
}

.bg-dark-80 {
    background-color: rgba(0, 0, 0, .8) !important;
}

.nav-big {
    min-height: 120px;
}

.jumbotron {
    height: 100vh;
    margin-bottom: 0;
    padding-top: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#section-gallery .card {
    background-color: #000;
    border: 0;
    border-radius: 0;
}

.carousel-caption {
    bottom: 2rem;
}

#section-gallery .card img {
    opacity: .3;
    transition: all .3s ease-out;
}

#section-gallery .card:hover img {
    opacity: 1;
}

#section-gallery .card .carousel-caption {
    transform: scale(1);
    transition: all .3s ease-out;
}

#section-gallery .card:hover .carousel-caption {
    transform: scale(0);
}

#section-about .lead {
    text-align: justify;
}

#section-contact a {
    text-decoration: none;
    color: #e74c3c;
    transition: .5s;
    opacity: .3;
}

#section-contact a:hover {
    text-decoration: none;
    color: #e74c3c;
    transition: .5s;
    opacity: 1;
}

.opacity-60 {
    opacity: .6 !important;
}

.nav-link {
    padding: 0;
}

.nav-item {
    position: relative;
}

.nav-item a span:first-child:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid rgba(255, 255, 255, 0.65);
    border-left: 2px solid rgba(255, 255, 255, 0.65);
    transition: .2s;
    opacity: 0;
}

.nav-item a span:first-child:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid rgba(255, 255, 255, 0.65);
    border-right: 2px solid rgba(255, 255, 255, 0.65);
    transition: .2s;
    opacity: 0;
}

.nav-item a span:last-child:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.65);
    border-left: 2px solid rgba(255, 255, 255, 0.65);
    transition: .2s;
    opacity: 0;
}

.nav-item a span:last-child:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.65);
    border-right: 2px solid rgba(255, 255, 255, 0.65);
    transition: .2s;
    opacity: 0;
}

.nav-item:hover a span:first-child:before {
    top: -5px;
    left: -5px;
    opacity: 1;
}

.nav-item:hover a span:first-child:after {
    top: -5px;
    right: -5px;
    opacity: 1;
}

.nav-item:hover a span:last-child:before {
    bottom: -5px;
    left: -5px;
    opacity: 1;
}

.nav-item:hover a span:last-child:after {
    bottom: -5px;
    right: -5px;
    opacity: 1;
}