@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin-ext');
body {
    font-family: 'Montserrat', sans-serif;
}

button:focus {
    outline: none;
}

.navbar-dark .navbar-toggler {
    border: 0;
}

.jumbotron {
    height: 130vh;
    margin-bottom: 0;
    padding-top: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.bg-transparent {
    background-color: transparent !important;
    transition: 0.5s;
}

.text-ed6950 {
    color: #ed6950;
}

.text-ffc74a {
    color: #ffc74a;
}

.text-606f81 {
    color: #606f81;
}

.text-aab0ba {
    color: #aab0ba;
}

.text-f8c759 {
    color: #f8c759;
}

.text-7a8695 {
    color: #7a8695;
}

.bg-fdfdfe {
    background-color: #fdfdfe;
}

.bg-f8f9fb {
    background-color: #f8f9fb;
}

.btn-search {
    color: #b98000;
    background-color: #ffc74a;
    border-radius: 25px;
    padding: 10px 40px;
    font-size: .8rem;
    border: 0;
}

#section-popular {
    margin-top: -30vh;
}

.h-400 {
    height: 400px;
}

/* Swiper */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    opacity: .3;
    transition: all 1s ease-in-out;
}

.swiper-slide:hover img {
    opacity: .7;
}

.swiper-slide .carousel-caption .btn-search {
    display: none;
    transform: scale(0);
    opacity: 0;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.swiper-slide:hover .carousel-caption .btn-search {
    display: block;
    transform: scale(1);
    opacity: 1;
    animation: grow .3s ease-in-out;
}

.swiper-slide .carousel-caption h2 {
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
}

.swiper-slide .carousel-caption p {
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
}

#section-search .form-control {
    border: 0;
    border-radius: 1.5rem;
}

#section-search .input-group {
    border: 0;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.15);
}

#section-search .btn-group-lg>.btn,
.btn-lg {
    border: 0;
    border-radius: 1.5rem;
}

.badge-outline-info {
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border: 1px solid #dadfe6;
}

.badge-pill:hover {
    background-color: #ffc74a;
}

#section-search .card {
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.15);
}

.box-shadow-1 {
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.15);
}

.btn-search-info {
    border-radius: 25px;
    padding: 10px 40px;
    font-size: .8rem;
}

.border-test {
    margin-top: -380px;
    margin-left: 40px;
    background-color: #fff;
    border: #f8c759 solid 15px;
    width: 550px;
    height: 410px;
}

#section-newsletter {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://source.unsplash.com/1200x1200/?grassland);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-top: 210px;
    padding-bottom: 210px;
}

#section-contact .form-control {
    border: 0;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.15);
}

.footer {
    color: #606f81;
    background-color: #ffffff;
}

/* ANIMATIONS */

@keyframes grow {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* ANIMATIONS */