@import url("https://fonts.googleapis.com/css?family=Montserrat&subset=latin-ext");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: linear-gradient(rgba(67, 31, 163, 0.7), rgba(67, 31, 163, 0.7)),
    url(https://source.unsplash.com/vVLrfAzmWYw);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: center;
  background-size: cover;
}

button:focus,
a:focus {
    outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3c3c3 !important;
  font-size: 80%;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c3c3c3 !important;
  font-size: 80%;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c3c3c3 !important;
  font-size: 80%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.my-flex-card > div > div.card {
  height: calc(100% - 15px);
  margin-bottom: 15px;
}

.text-dectoration-none {
  text-decoration: none !important;
}

.text-hover-bold:hover {
  font-weight: bold !important;
}

/* NAVBAR */

.img-avatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown-avatar .dropdown-toggle::after {
  display: none;
}

.navbar-dark .navbar-nav .nav-link {
  line-height: 40px;
}

.dropdown-menu {
  padding: 0;
  min-width: 20rem;
  transition: all 0.3s;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.bg-header {
  background: linear-gradient(rgba(67, 31, 163, 0.8), rgba(67, 31, 163, 0.8)),
    url(https://source.unsplash.com/Bd9krwkX5Xc);
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.navbar .list-group-item-action {
  color: #6c757d;
}

.navbar .list-group-item-action:focus,
.list-group-item-action:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #fff;
}

.search-input {
  border-radius: 15px;
  border: 0;
  font-size: .8rem;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

.search-icon {
  border: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: .8rem;
}

.search-tip {
  background: #fff;
  color: #4b162f;
  font-size: 12px;
  display: none;
  padding: 5px 10px;
  width: 250px;
  border-radius: 15px;
}

.search-box:hover .search-tip {
  display: block;
  z-index: 1;
}

/* NAVBAR */

#section-main .main-card {
  min-height: 90vh;
}

#no-more-tables {
  width: 100%;
}

#no-more-tables tbody tr:nth-child(odd) {
  background-color:#ecf0f1;
}

#no-more-tables tbody tr:nth-child(even) {
  background-color:#fff;
}

.swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #no-more-tables tr {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  /*
      Label the data
      */
  #no-more-tables td:before {
    content: attr(data-title);
  }
}
