@import url('https://fonts.googleapis.com/css?family=Raleway');

@media (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .info1 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .info2 {
        grid-column: span 2;
    }

    .figure1 {
        grid-column: span 3;
        grid-row: span 2;
    }

    .figure6 {
        grid-column: span 2;
    }

    .figure7 {
        grid-column: span 3;
    }
}

body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

figure {
    margin: 0;
}

.figure-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info1,
.info2 {
    padding: 40px;
    background-color: #292727;
    color: #ffffff;
}

h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
    font-weight: lighter;
}

.info-link {
    text-decoration: none;
    color: #d80c0c;
}