@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext");

body {
  height: 100%;
  overflow: hidden; /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px; /*removes default style*/
  display: flex; /*enables flex content for its children*/
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.text-main {
  color: #dc3546;
}

.column {
  height: 100vh; /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column; /*places the left and right headers above the bottom content*/
}

#left {
  flex-shrink: 0; /*makes sure that content is not cut off in a smaller browser window*/
  background-color: #3a4651;
}

#right {
  width: 100vw;
}

#right .bottom {
  background-color: #f0f3f6;
}

.top-left {
  flex-shrink: 0;
  height: 80px;
  background-color: #3a4651;
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
  height: 80px;
  background-color: #d7dde4;
  padding: 0 20px;
  justify-content: space-between;
}

.bottom {
  flex-grow: 1; /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto; /*adds scroll to this container*/
}

.img-logo {
  width: 15vw;
  padding: 20px;
}

.left-menu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.left-menu.active li {
  display: block;
}

.left-menu h3 {
  background-color: #85ce36;
  padding: 15px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 5px;
  font-size: 15px;
}

.left-menu li {
  padding: 5px 40px;
  display: none;
}

.left-menu a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.left-menu li:hover {
  background-color: #2d363f;
}

.box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: #4f5f6f;
}

.box h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.box a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #4f5f6f;
}

.box a:hover {
  color: #3a4651;
}

.box span {
  display: block;
  font-size: 12px;
}

.icon {
  height: 20px;
  margin: 0 40px;
}
