body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

a,
button:focus,
a:focus {
  outline: none;
}

.upbar {
  min-height: 40px;
  background: #ff6600;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.upbar li {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;
}

.link-mail {
  text-decoration: none;
  color: #212529;
}

.link-mail:hover {
  text-decoration: none;
  color: #212529;
}

.bg-222533 {
  background: #222533;
}

.color-ff6600 {
  color: #ff6600;
}

.bg-ff6600 {
  background-color: #ff6600 !important;
}

.navbar-main {
  min-height: 90px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.img-logo {
  width: 15%;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  font-weight: bold;
  color: #ff6600 !important;
}

#section-jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../img/main-bg.jpg);
  background-size: cover;
  background-position: center top;
  /* background-attachment: fixed; */
  min-height: 100vh;
  margin-top: -130px;
}

#section-jumbotron h1 {
  font-weight: 900;
}

#section-jumbotron .fa-circle {
  font-size: 1.5rem;
  vertical-align: 0.7rem;
}

.btn-jumbo {
  border-radius: 10px;
  background-color: #d35500;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.814;
  border: 2px solid #d35500;
  padding: 15px 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;

  transition: background-color 1s;
}

.btn-jumbo:hover {
  background-color: transparent;
  border: 2px solid #d35500;
  color: #fff;
  transition: background-color 0.7s;
}

#section-about {
  background: #fff;
  padding-top: 5rem;
}

#section-about h1 {
  color: #ff6600;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-top: 10%;
}

#section-about h2 {
  color: rgb(72, 72, 72);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

#section-about h5 {
  color: rgb(72, 72, 72);
  line-height: 1.2;
  text-align: left;
}

.btn-about {
  border-radius: 10px;
  background-color: #ff6600;
  font-size: 16px;
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.814;
  border: 2px solid #ff6600;
  padding: 15px 20px;
  margin-top: 10px;

  transition: background-color 1s;
}

.btn-about:hover {
  background-color: transparent;
  border: 2px solid #ff6600;
  color: #222;

  transition: background-color 0.7s;
}

#section-info {
  background: #f2f7fa;
  font-family: "Roboto", sans-serif;
  padding-top: 70px;
  padding-bottom: 60px;
}

#section-info h1 {
  color: rgb(72, 72, 72);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

#section-info h5 {
  color: rgb(72, 72, 72);
  line-height: 1.8rem;
  margin: 0;
  padding: 0;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
  text-align: center;
}

#outer-circle {
  background: rgba(255, 203, 15, 0.4);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  margin: 0 auto;
}

#inner-circle {
  position: absolute;
  background: rgba(255, 203, 15, 0.5);
  border-radius: 50%;
  height: 180px;
  width: 180px;
  top: 50%;
  left: 50%;
  margin: -90px 0px 0px -90px;
}

#center-circle {
  position: absolute;
  background: rgba(255, 203, 15, 0.8);
  border-radius: 50%;
  height: 160px;
  width: 160px;
  top: 50%;
  left: 50%;
  margin: -80px 0px 0px -80px;
}

#main-circle {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 140px;
  width: 140px;
  top: 50%;
  left: 50%;
  margin: -70px 0px 0px -70px;
}

#main-circle i {
  position: absolute;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0px 0px -25px;
  font-size: 50px;
}

.caption h4 {
  color: rgb(72, 72, 72);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.caption h5 {
  color: rgb(72, 72, 72);
  line-height: 1.2;
  text-align: center;
}

#section-services {
  padding-top: 70px;
  padding-bottom: 70px;
}

#section-services h2 {
  color: rgb(72, 72, 72);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

#section-services .list-group-item {
  border: 0;
}

#section-projects {
  font-family: "Roboto", sans-serif;
  padding-top: 70px;
  text-align: left;
  padding-bottom: 100px;
  background: linear-gradient(rgba(47, 50, 64, 0.8), rgba(47, 50, 64, 0.8)), url(../img/projects-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* background: #656972; */
}

#section-projects h2 {
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

#section-projects .nav .active {
  background-color: #ff6600 !important;
  font-weight: bold;
}

.project-main-img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
  object-fit: cover;
}

.project-hr {
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}

#section-projects .card {
  border: 0;
  background: transparent;
  border-radius: 0;
}

.bg-transparent {
  background: transparent !important;
}

#section-projects .card-img-top {
  width: 120px;
  height: 90px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

#section-projects .image-card {
  max-height: 80vh;
  margin: 0 auto;
}

#section-projects .modal-footer,
#section-projects .modal-content {
  border: 0;
}

#section-projects .modal {
  background: rgba(0, 0, 0, 0.8);
}

#section-projects .modal-content {
  -ms-flex-align: center;
  align-items: center;
}

#section-projects .modal-dialog {
  max-width: 100vw;
}

/* #section-projects .nav .active {
  background-color: transparent;
  font-weight: bold;
} */

#section-contact {
  padding-top: 70px;
  padding-bottom: 60px;
  border-bottom: 40px solid #656972;
}

#section-contact h1 {
  color: rgb(47, 50, 64);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: right;
  margin: 0;
  padding: 0;
  padding: 0 10px;
  margin-top: 5px;
}

#section-contact h2 {
  color: rgb(47, 50, 64);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding: 0 10px;
}

#section-contact .main-title {
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

#section-footer {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}

#section-footer p {
  font-size: 0.9rem;
}

#section-footer .list-group-item {
  background-color: transparent;
  padding: 0.3rem 1.25rem;
  border: 0;
}

footer {
  text-align: center;
  background: #1a1c27;
  color: rgb(255, 255, 255);
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .lead {
  font-size: 0.9rem;
}

footer span {
  color: #ff6600;
}

.px-10 {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.btn-orange {
  color: #fff;
  background-color: #d35500;
  border-color: #d35500;
  padding: 6px 40px;
}

.btn-orange:hover,
.btn-orange:focus {
  color: #fff;
  background-color: rgba(209, 83, 0, 0.8);
  border-color: rgba(209, 83, 0, 0.8);
}

/* Media Query */

@media (max-width: 767.98px) {
  .upbar .navbar-nav {
    display: inline-block;
    margin: 0 auto !important;
  }

  .navbar-main {
    padding: 1rem;
  }

  .img-logo {
    width: 30%;
  }

  #section-jumbotron {
    margin-top: -70px;
  }

  #section-jumbotron .display-3 {
    font-size: 2rem;
  }

  #section-jumbotron .fa-circle {
    font-size: 1rem;
    vertical-align: 0.2rem;
  }

  #section-about {
    padding-top: 2rem;
  }

  #section-about .display-4 {
    font-size: 1.5rem;
  }

  #section-about h2 {
    font-size: 1.2rem;
  }

  #section-about h5 {
    font-size: 1rem;
  }

  #section-info p {
    font-size: 0.9rem;
  }

  #section-projects,
  #section-footer {
    padding: 1rem;
  }

  #section-projects .lead {
    margin-top: 2rem;
    font-size: 1rem;
  }

  #section-projects h4 {
    margin-left: 1rem;
  }

  #section-projects .card-deck {
    justify-content: space-around;
  }

  #section-footer img {
    margin: 0 auto;
  }

  #section-footer iframe {
    margin-top: 2rem;
    height: 50vh !important;
  }
}

@media (max-width: 1024px) {
  .card-deck .card {
    display: flex;
    flex: 0 0 95%;
    flex-flow: row wrap;
    justify-content: center;
  }

  #section-projects .card-img-top {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 1100px) {
  .card-deck .card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0;
  }

  #section-projects .card-img-top {
    width: 100%;
    height: 40vh;
  }
}
