@import url("https://fonts.googleapis.com/css?family=Quicksand&subset=latin-ext");

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background: url("https://source.unsplash.com/G0miZ5OYaXI");
  background-size: cover;
  background-position: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.3s;
}

nav.black {
  background: rgba(0, 0, 0, 0.8);
  min-height: 100px;
  padding: 10px 100px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

nav .logo {
  padding: 22px 20px;
  height: 80px;
  font-size: 24px;
  transition: 0.3s;
}

nav.black .logo {
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

nav ul li {
  list-style: none;
  margin: 0 5px;
}

nav ul li a {
  line-height: 80px;
  color: #151515;
  padding: 5px 30px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: all 0.3s;
}

nav ul li a:hover {
  background: #e2472f;
  color: white;
  border: 1px solid #e2472f;
}

nav.black ul li a {
  color: white;
}

nav.black ul li a:focus {
  outline: none;
}

nav ul li a.active {
  background: #e2472f;
  color: white;
  border-radius: 6px;
}

.content {
  width: 90%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.menu-icon {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
    height: 0;
  }
  1% {
    display: block;
    opacity: 0;
    /* transform: scale(0); */
    height: 1px;
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
    height: 100vh;
  }
}

@media (max-width: 900px) {
  .logo {
    position: fixed;
    top: 0;
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0 !important;
    height: auto;
  }

  nav {
    padding: 0;
  }

  nav.black {
    background: transparent;
    min-height: 0;
    padding: 0;
  }

  nav ul {
    max-height: 0px;
    background: rgba(0, 0, 0, 0.8);
    display: none;
  }

  nav.black ul {
    background: #000;
  }

  nav ul li a {
    line-height: 50px;
    color: #fff;
  }

  .showing {
    text-align: center;
    max-height: 100vh;
    display: inline-block;
    width: 100%;
    padding-bottom: 1rem;
    animation: anim 0.3s ease-in-out;
  }

  .flex-container {
    height: 100vh;
  }

  .menu-icon {
    display: block;
  }

  .transition1s {
    transition: 1s;
  }
}
