body {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

.navbar {
    background-color: #000 !important;
    height: 70px;
}

.navbar-dark .navbar-toggler {
    border: 0;
}

.navbar-collapse {
    background-color: #000;
    padding: 15px;
    margin-left: -17px;
    margin-right: -17px
}

.navbar-expand-md .navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 140%;
    color: rgba(255, 255, 255, 0.69);
    line-height: 1.2;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    font-family: 'Open Sans', sans-serif;
    font-size: 140%;
    color: rgba(255, 255, 255, 1);
    line-height: 1.2;
}

nav li a.active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.main-bg {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 46, 74, 0.8)), to(rgba(43, 46, 74, 0.8))), url(../img/main-bg.jpg);
    background: linear-gradient(rgba(43, 46, 74, 0.8), rgba(43, 46, 74, 0.8)), url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 300%;
    -webkit-transition: color .5s;
    transition: color .5s;
}

.navbar-brand span {
    color: #ff8b38;
    font-weight: 100;
    -webkit-transition: color .5s;
    transition: color .5s;
}

.navbar-brand:hover {
    color: #ff8b38;
    font-weight: 100;
    -webkit-transition: color .5s;
    transition: color .5s;
}

.navbar-brand:hover span {
    color: #fff;
    font-weight: bold;
    -webkit-transition: color .5s;
    transition: color .5s;
}

#jumbotron {
    padding-top: 25vh;
    height: 100vh;
}

.jumbotron {
    color: #fff;
    background-color: transparent;
    width: 30%;
    margin-left: 10%;
}

#jumbotron .display-1 {
    color: #fff;
    font-weight: bold;
    -webkit-transition: color .5s;
    transition: color .5s;
}

#jumbotron .display-1 span {
    color: #ff8b38;
    font-weight: 100;
    -webkit-transition: color .5s;
    transition: color .5s;
}

#jumbotron .display-3 {
    /*  font-size: 36px;*/
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

#jumbotron hr {
    border-top: 2px solid #fff;
    width: 64px;
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

#jumbotron p {
    font-size: 160%;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.438;
}

.btn-outline-light {
    border-radius: 0;
    border: 2px solid #fff !important;
    font-size: 150%;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding: 10px 30px;
    margin-top: 45px;
}

#social {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
    position: relative;
    z-index: 3;
}

#social h4 {
    font-size: 200%;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    font-weight: bolder;
    line-height: 1.2;
}

#social p {
    font-size: 140%;
    font-family: "Open Sans";
    color: rgb(134, 135, 139);
    line-height: 1.429;
    margin-bottom: 0;
}

.img-social {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.img-social:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#features_1 {
    background-color: #f5f5f5;
    /*
    padding-top: 140px;
    padding-bottom: 140px;
*/
}

#features_1 .nav-link {
    background-color: #333333;
    width: 112px;
    height: 112px;
    border-radius: 0;
    text-align: center;
    line-height: 97px;
    font-size: 150%;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 1px;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

#features_1 .nav-link.active {
    background-color: #ff8b38;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

#features_1 h5 {
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 50px;
}

#features_1 p {
    font-size: 130%;
    font-family: "Open Sans";
    color: rgb(134, 135, 139);
}

#features_1 .btn-success {
    font-size: 150%;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#features_2 {
    background-color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
}

#features_2 h5 {
    font-family: "Open Sans";
    color: rgb(33, 33, 33);
    font-weight: bold;
    line-height: 2.15;
}

#features_2 p {
    font-size: 140%;
    font-family: "Open Sans";
    color: rgb(134, 135, 139);
    line-height: 1.429;
}

#features_2 hr {
    border-top: 2px solid #ff8b38;
    width: 64px;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

#features_2 .media {
    margin-top: 40px;
}

#features_2 .media h6 {
    font-size: 140%;
    font-family: "Open Sans";
    color: rgb(33, 33, 33);
    line-height: 1.214;
}

#features_2 .media p {
    font-size: 130%;
    font-family: "Open Sans";
    color: rgb(134, 135, 139);
    line-height: 1.429;
}

#features_2 .media .fa {
    font-size: 140%;
    color: #ff8b38;
    border-radius: 25px;
    border: solid 2px;
    padding: 10px;
}

#features_3 {
    background-color: #f5f5f5;
    padding-top: 110px;
    padding-bottom: 110px;
}

#features_3 h5 {
    font-family: "Open Sans";
    color: rgb(33, 33, 33);
    font-weight: bold;
    line-height: 2.15;
}

#features_3 p {
    font-size: 140%;
    font-family: "Open Sans";
    color: rgb(134, 135, 139);
    line-height: 1.429;
}

#features_3 hr {
    border-top: 2px solid #ff8b38;
    width: 64px;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

#process {
    padding-top: 110px;
    padding-bottom: 110px;
}

#process h3 {
    font-family: "Raleway";
    color: rgb(33, 33, 33);
    line-height: 1.194;
    text-align: center;
}

#process hr {
    border-top: 2px solid #ff8b38;
    width: 64px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#process h6 {
    font-family: "Open Sans";
    color: rgb(134, 135, 139);
    line-height: 1.429;
    text-align: center;
}

.row-bottom {
    margin-top: 80px;
}

#process .card {
    border: 0;
    border-radius: 0;
    text-align: center;
}

#process .card .fa {
    font-size: 250%;
    color: #ff8b38;
    border-radius: 25px;
    border: solid 2px;
    padding: 10px;
    width: 50px;
    height: 50px;
}

#process .card .card-title {
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
}

#process .card .card-text {
    font-size: 110%;
    font-family: "Open Sans";
    color: rgb(134, 135, 139);
    line-height: 1.429;
}

#pricing {
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #f5f5f5;
}

#pricing h3 {
    font-family: "Raleway";
    color: rgb(33, 33, 33);
    line-height: 1.194;
    text-align: center;
}

#pricing hr {
    border-top: 2px solid #ff8b38;
    width: 64px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#pricing h6 {
    font-family: "Open Sans";
    color: rgb(134, 135, 139);
    line-height: 1.429;
    text-align: center;
}

#pricing .card {
    border: 0;
    border-radius: 0;
    text-align: center;
}

#pricing .card-footer {
    background-color: #ff8b38;
    border: 0;
    border-radius: 0;
    padding: 3px;
    font-size: 110%;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.714;
}

#pricing .card-header {
    border-bottom: 1px solid #fff;
}

#pricing .card-header {
    font-size: 180%;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
}

#pricing .card-title {
    font-size: 700%;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 10px;
}

#pricing .card-text {
    font-size: 120%;
    font-family: "Open Sans";
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.714;
    font-style: italic;
}

.pad-14 {
    padding: 10px !important;
}

#pricing .list-group {
    border-radius: 0;
    margin-bottom: 20px;
}

#pricing .list-group-item {
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 110%;
    font-family: "Open Sans";
    color: rgb(134, 135, 139);
    line-height: 1.714;
}

#pricing .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#testimonials {
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #fff;
}

#testimonials h3 {
    font-family: "Raleway";
    color: rgb(33, 33, 33);
    line-height: 1.194;
    text-align: center;
}

#testimonials hr {
    border-top: 2px solid #ff8b38;
    width: 64px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#testimonials h6 {
    font-family: "Open Sans";
    color: rgb(134, 135, 139);
    line-height: 1.429;
    text-align: center;
}

#testimonials .media img {
    max-width: 70px;
    max-height: 70px;
}

#testimonials .media h6 {
    text-align: left;
}

#testimonials .media-body p {
    background-color: #f5f5f5;
    font-size: 130%;
    font-family: "Open Sans";
    color: rgb(134, 135, 139);
    line-height: 1.2;
    font-style: italic;
    padding: 25px 15px;
    border-radius: 10px;
}

#testimonials .media-body h5 {
    font-size: 120%;
}

#testimonials .media-body h6 {
    font-size: 100%;
}

#testimonials p:after {
    content: '';
    position: absolute;
    top: 57%;
    left: 10%;
    margin-left: 0px;
    width: 0;
    height: 0;
    border-top: 15px solid #f5f5f5;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}

#custom {
    padding-top: 75px;
    padding-bottom: 75px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 46, 74, 0.5)), to(rgba(43, 46, 74, 0.5))), url(../img/motion.jpg);
    background: linear-gradient(rgba(43, 46, 74, 0.5), rgba(43, 46, 74, 0.5)), url(../img/motion.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#custom h3 {
    font-family: "Raleway";
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

#custom hr {
    border-top: 2px solid #fff;
    width: 64px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#custom h6 {
    font-family: "Raleway";
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.2;
    text-align: center;
}

#custom p {
    text-align: center;
}

#contact {
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #fff;
}

#contact h3 {
    font-family: "Raleway";
    color: rgb(33, 33, 33);
    line-height: 1.194;
    text-align: center;
}

#contact hr {
    border-top: 2px solid #ff8b38;
    width: 64px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#contact h6 {
    font-family: "Open Sans";
    color: rgb(134, 135, 139);
    line-height: 1.429;
    text-align: center;
}

#contact .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    font-family: "Open Sans";
    color: rgb(189, 189, 189);
    line-height: 1.2;
}

#contact .btn {
    margin-top: 40px;
    font-size: 150%;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding: 10px 25px;
}

#footer {
    background-color: #000000;
    padding-top: 20px;
}

#footer .img-social {
    height: 20px;
    width: 20px;
}

#footer p {
    margin-top: 10px;
    font-size: 120%;
    font-family: "Open Sans";
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.2;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100% !important;
}

.swiper-pagination-bullet {
    background-color: #333333;
    width: 112px;
    height: 112px;
    border-radius: 0;
    text-align: center;
    line-height: 97px;
    font-size: 150%;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 1px;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.swiper-pagination-bullet-active {
    background-color: #ff8b38;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    margin-bottom: 1px;
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: auto;
}

@media (max-width: 575.98px) {
    #jumbotron {
        padding-top: 5vh;
    }
    .jumbotron {
        width: 100%;
        margin-left: 0%;
    }
    .btn-outline-light {
        margin-top: 20px;
    }
    #features_2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #features_3 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #process {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .row-bottom {
        margin-top: 40px;
    }
    #pricing {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #testimonials {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #contact {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #footer .img-social {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}