@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');
body {
    font-family: 'Roboto', sans-serif;
}

.pt-6,
.py-6 {
    padding-top: 6rem !important;
}

.pb-6,
.py-6 {
    padding-bottom: 6rem !important;
}

.mt-6,
.my-6 {
    margin-top: 6rem !important;
}

.mb-6,
.my-6 {
    margin-bottom: 6rem !important;
}

.navbar-brand {
    padding-top: 0;
}

button:focus,
a:focus {
    outline: none;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-dark-80 {
    background-color: rgba(0, 0, 0, .8) !important;
}

.text-shadow-03 {
    text-shadow: 2px 10px 20px rgba(0, 0, 0, 0.3);
}

.hr-main {
    border-top: 3px solid #4a24a8;
    width: 80px;
}

#section-jumbotron {
    background-color: #2e117f;
}

.jumbotron {
    height: 80vh;
    margin-bottom: 0;
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg-main.jpg); */
    background-color: #2e117f;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#curve {
    position: relative;
    bottom: 0px;
    width: 100%;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0 -12px 5px rgba(0, 0, 0, 0.2));
}

#curve path {
    fill: #fff;
}

h1 {
    color: rgb(64, 72, 90);
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: normal;
}

#section-about p {
    color: rgb(106, 112, 125);
    line-height: 1.667;
    letter-spacing: .5px;
}

#section-features svg {
    width: 40%;
    display: block;
    margin: 0 auto;
}

#section-features svg path, rect {
    fill: #c7c9ce;
    transition: all 0.5s;
}

#section-features .card {
    box-shadow: none;
    transition: all 0.5s;
}

#section-features .card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

#section-features .card:hover path, #section-features .card:hover rect {
    fill: #1189f6;
}

#section-portfolio {
    background-color: #201A3E;
    background-image: url(../img/bg-portfolio.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#section-contact {
    background-color: #201A3E;
}

footer {
    background-color: #201A3E;
}