@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&subset=latin-ext');

body {
    margin: 0;
    padding: 0;
    /* padding: 20px;
    background: #bdc3c7; */
    font-family: 'Poppins', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
}

.top-border {
    position: fixed;
    z-index: 99999;
    width: calc(100% - 20px);
    border: 10px solid #bdc3c7;
}

.bottom-border {
    position: fixed;
    z-index: 99999;
    width: calc(100% - 20px);
    border: 10px solid #bdc3c7;
    margin-top: calc(100vh - 20px);
}


.left-border {
    position: fixed;
    z-index: 99999;
    height: calc(100vh - 20px);
    border: 10px solid #bdc3c7;
}

.right-border {
    position: fixed;
    z-index: 99999;
    height: calc(100vh - 20px);
    border: 10px solid #bdc3c7;
    margin-left: calc(100% - 20px);
}

header {
    background: #fff;
    padding-top: 40px;
    height: calc(100vh - 40px);
    background-repeat: no-repeat;
}

nav {
    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap; */
    padding: 20px;
    display: grid;
    grid-template-columns: 100px 1fr 150px;
    align-items: center;
    justify-items: center;
}


.nav-logo {
    max-height: 22px;
}

/*
.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-transform: uppercase;
} */

.social-menu {
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    background: #bdc3c7;
    color: white;
    justify-self: end;
    padding: 2px;
}

.nav-item,
.social-link {
    font-size: .9rem;
    padding: 10px;
    color: #111;
    font-weight: 500;
}

.social-link {
    color: white;
    margin: 0 10px;
}

.jubotron {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}

.jubotron-hr:before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px;
    background: #d2b356;
}

.jubotron .content {
    width: 40vw;
}

.img-jumbotron {
    width: 50vw;
    /* transform: rotate(90deg); */
}

.jubotron h1 {
    font-size: 62px;
    line-height: 60px;
    font-weight: 800;
    color: #111;
    padding: 20px 0;
}

.jubotron h2 {
    font-size: 18px;
    font-weight: 300;
    color: #111;
    padding: 20px 0;
}

.nav-btn {
    text-decoration: none;
    color: #111;
    border: 3px solid #111;
    display: inline-block;
    margin-top: 35px;
    padding: 11px 16px;
    transition: all .3s linear;
    font-weight: 600;
}

.nav-btn:hover {
    color: #d2b356;
    border: 3px solid #d2b356;
}

main {
    padding: 0 20px;
}