* {
	box-sizing: border-box;
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat Alternates', sans-serif;
}

.header {
	min-height: 100vh;
	padding: 5vh 10vw;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	background: #fafafa;
}

.nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	color: #1f6764;
	text-decoration: none;
	transition: all .3s ease;
}

.nav__logo:focus,
.nav__logo:hover {
	margin-left: 5px;
}

.nav__logo h2,
.nav__logo p {
	margin: 0;
}

.nav__logo h2 {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 700;
}

.nav__logo p {
	text-transform: uppercase;
	font-size: .9rem;
	line-height: .9rem;
	letter-spacing: 5px;
}

.nav__navbar {
	display: flex;
	flex-flow: row wrap;
}

.nav_navbar__link {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	color: rgba(31, 103, 100, .6);
	padding: 5px;
	margin: 0 5px;
	transition: all .3s ease;
}

.nav_navbar__link:focus,
.nav_navbar__link:hover,
.nav_navbar__link.active {
	color: rgba(31, 103, 100, 1);
}

.hero {
	text-align: center;
	width: 50vw;
	align-self: center;
	margin-top: 40vh;
}

.hero__title {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 2rem;
}

.hero__hr {
	height: 1px;
	background-color: rgba(74, 74, 74, 0.1);
	border: none;
	width: 70%;
}

.hero__caption {
	color: #9f9f9f;
	font-family: "Open Sans";
	font-size: .9rem;
	font-weight: 400;
}

.main {
	padding: 5vh 0;
}

.last__title {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.5rem;
	border-bottom: 2px solid rgba(74, 74, 74, 0.1);
	padding: 20px;
	margin: 0 0 5rem 0;
}

.last__gallery {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 5rem;
}

.last__gallery__card {
	flex: auto;
	flex-basis: 20vw;
	margin: .5vw;
	background: transparent;
	text-decoration: none;
	box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.1);
	transition: all .3s ease-in-out;
	position: relative;
	opacity: .8;
}

.last__gallery__card:hover {
	opacity: 1;
}

.last__gallery__card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.last__gallery__card_tittle {
	position: absolute;
	bottom: 10px;
	left: 20px;
	color: #173130;
}

.technology__tittle {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.5rem;
	border-bottom: 2px solid rgba(74, 74, 74, 0.1);
	padding: 20px;
	margin: 5rem 0;
}
