@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Anton&subset=latin-ext');
body {
    font-family: 'Raleway', sans-serif;
}

:focus {
    outline: none;
}

section {
    padding: 170px 0 170px 0;
}

.bg-main {
    /* background-color: #202020; */
    background-image: url(../img/mainbg.png), linear-gradient(to right, #202020, #202020);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.mask70 {
    -webkit-mask-image: radial-gradient(#202020, transparent 70%);
    mask-image: radial-gradient(#202020, transparent 70%);
}

.mask80 {
    -webkit-mask-image: radial-gradient(#202020, transparent 80%);
    mask-image: radial-gradient(#202020, transparent 80%);
}

.logo {
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
    transition: all .3s ease-in-out;
}

.logo:hover {
    color: #dc3545;
    text-decoration: none;
    font-size: 2.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    margin: 0 2rem 0 2rem;
    transition: all .3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #dc3545;
    border-bottom: 2px solid #dc3545;
}

.font-anton {
    font-family: 'Anton', sans-serif;
}

.text-top {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    text-align: right;
    margin-top: -80px;
    margin-right: -100px;
    font-size: 8rem;
}

.text-back {
    font-family: 'Anton', sans-serif;
    position: absolute;
    margin-top: -60px;
    margin-left: -450px;
    letter-spacing: 2px;
    font-size: 15rem;
    opacity: .1;
    z-index: -1;
}


/* swiper */

.swiper-container {
    width: 100%;
    height: 80vh;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

header .swiper-slide {
    margin-top: 2vh;
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 50px;
    top: 50%;
}

.swiper-pagination-bullet {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    /* opacity: 1; */
    border-radius: 0;
    background: transparent;
}

.swiper-pagination-bullet-active {
    color: #202020;
    background: #fff;
    font-family: 'Anton', sans-serif;
}

@media (max-width: 786px) {
    section {
        padding: 100px 0 100px 0;
    }
    header h2 {
        font-size: 1rem;
        text-align: center;
    }
    header .display-1 {
        font-size: 2rem;
        text-align: center;
    }
    header .display-4 {
        font-size: 1.5rem;
        text-align: center;
    }
    header .swiper-container-vertical>.swiper-pagination-bullets {
        right: 0px;
    }
    #section-about .text-back {
        font-size: 7rem;
        margin-left: -26px;
    }
    #section-video .display-1 {
        font-size: 2rem;
    }
    #section-contact .display-1 {
        font-size: 2rem;
    }
    #section-contact p {
        font-size: .9rem;
    }
    footer p {
        font-size: .7rem;
    }
}

#section-video {
    /* background-color: #202020; */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://source.unsplash.com/m1WZS5ye404');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 0;
}

#section-video h1 {
    opacity: .7;
}

.btn-video {
    color: #fff;
    transition: all .3s ease-in-out;
}

.btn-video:hover {
    color: #dc3545;
    transform: scale(1.5);
}

#section-gellery {
    background: #202020;
    padding: 0;
}

#section-gellery img {
    opacity: .6;
    transition: all .3s ease-in-out;
}

#section-gellery img:hover {
    opacity: 1;
}

#section-contact {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/Nbw2ppKgFLA');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 0;
    height: 80vh;
}

footer {
    background: #202020;
}