@import url("https://fonts.googleapis.com/css?family=Open+Sans");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #d7dde4;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc3546;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dc3546;
}

html,
body {
  height: 100%;
  font: 15px/1 "Open Sans", sans-serif;
  color: #777;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  min-height: 100%;
}

nav {
  width: 250px;
  background: #3a4651;
}

nav header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  color: rgba(255, 255, 255, 0.8);
  background: #3a4651;
}

nav header img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.panel a {
  display: block;
  padding: 10px 30px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  background-color: #333e48;
}

nav .accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);
}

nav .accordion img {
  width: 25px;
  margin-right: 10px;
}

nav .accordion span {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
}

.icon-chevron {
  width: 10px !important;
  transform: rotate(-90deg);
}

nav .active,
.accordion:hover {
  background-color: #85ce36;
}

nav .panel {
  display: none;
  overflow: hidden;
}

nav .panel p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  background-color: #dc3546;
  padding: 10px;
  text-transform: uppercase;
}

nav ul span {
  display: block;
  padding: 15px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  border-bottom: 1px solid #333333;
}

nav ul a:hover,
nav ul a.active {
  background: #535353;
}

main {
  flex: 1;
  background: #f0f3f6;
}

main .icon {
  width: 25px;
}

main header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #4f5f6f;
  background: #d7dde4;
  padding: 0 2rem;
}

main header .flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main header input {
  height: 30px;
  border: 0;
  background-color: #ffffff;
  padding: 10px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
  margin-left: 10px;
  border-radius: 25px;
  margin-right: -28px;
}

main header input::placeholder {
  opacity: 0.5;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #64798d;
  color: #64798d;
  margin: 0 5px;
  border-radius: 0.2rem;
  line-height: 1.2;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.btn:hover,
.btn:focus {
  border: 1px solid #3a4651;
  color: #3a4651;
}

.btn-off {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  background-color: #ffffff;
  color: #3a4651;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 25px;
  margin-left: 5px;
}

.btn-off .icon {
  transition: transform 0.15s ease-in-out;
}

.btn-off span {
  margin: 0 10px;
}

.btn-off:hover,
.btn-off:focus {
  color: #3a4651;
}

.btn-off:hover .icon {
  transform: scale(0.9);
}

.btn-orders {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  background-color: #ffffff;
  color: #3a4651;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 25px;
  margin-right: 5px;
}

.btn-orders span {
  margin: 0 10px;
}

.btn-orders .icon {
  transition: transform 0.15s ease-in-out;
}

.btn-orders:hover .icon {
  transform: scale(0.9);
}

.flex-grid {
  display: flex;
  padding: 2rem;
}

.flex-grid > div {
  flex: 1;
  margin: 0 20px 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  background: #fff;
}

main .card {
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
  margin-bottom: 10px;
  border-radius: 0;
  border: none;
}

.card h2 {
  font-size: 1.3rem;
  margin: -15px -15px 15px -15px;
  padding: 12px 15px;
}

.card > div:last-child {
  margin-right: 0;
}

.card > p {
  flex: 1;
  border: 1px solid #ddd;
  justify-items: stretch;
}

.card-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #85ce36;
  margin-bottom: 1rem;
  width: 45%;
}

.card-item img {
  width: 25px;
}

.card-item h4 {
  margin-top: 0.3rem;
  font-weight: normal;
}

.card-item h3 {
  font-size: 1.5rem;
}

.card-text {
  margin-left: 20px;
}

/*
** Media Queries
***********************************************************/
@media (max-width: 1000px) {
  .flex-grid {
    flex-direction: column;
  }

  .flex-grid > div {
    margin-right: 0;
  }
}
