* {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.container {
	display: flex;
	flex-flow: row;
}

nav {
	width: 15%;
}

.quick_order {
	display: flex;
	flex-flow: column;
}
