* {
	box-sizing: border-box;
	outline: none;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
}

#header {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 80vh;
	padding-top: 9%;
}

.header__navbar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20%;
	width: 60%;
}

.nav__link {
	color: #007fff;
	font-size: 12px;
	font-weight: 800;
	line-height: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: all .3s ease;
}

.nav__link:hover {
	transform: scale(1.1);
}

.header__navbar .logo {
	background: #ffe300;
	padding: 5px 10px;
	margin: 0 5rem;
	color: #000000;
	font-size: 14px;
}

.header__hero {
	width: 50%;
	text-align: center;
}

.header__hero h1 {
	font-size: 58px;
	font-weight: 700;
	line-height: 60px;
	margin: 0;
}

.header__hero span {
	color: #007fff;
}

.header__hero__socials {
	margin-top: 3rem;
}

.socials__link {
	color: #007fff;
	font-size: 24px;
	padding: 10px;
	margin: 10px;
}

.socials__link i {
	transition: all .3s ease-in-out;
}

.socials__link:hover i {
	transform: rotate(360deg);
}

.container {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 60px;
}

.sec-title {
	color: #979797;
	font-size: 12px;
	font-weight: 800;
	line-height: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	transform: rotate(-90deg);
}

#sec-works {
	padding: 1% 10%;
}

.card__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s ease-in-out;
}

.card:nth-child(2) {
	grid-column-start: span 4;
}
