body {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

header {
    min-height: 100vh;
}

.main-bg {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 46, 74, 0.5)), to(rgba(43, 46, 74, 0.5))), url(../img/main-bg.jpg);
    background: linear-gradient(rgba(43, 46, 74, 0.5), rgba(43, 46, 74, 0.5)), url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.navbar {
    height: 100px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-nav > li > a {
    font-size: 120%;
    padding: 0;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 96px;
    color: #ccc;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 1s;
    transition: border-bottom 1s;
    -webkit-transition: color .5s;
    transition: color .5s;
}

.navbar-nav > li > a:focus {
    background-color: transparent;
    border-bottom: 2px solid #f1c40f;
    -webkit-transition: border-bottom .5s;
    transition: border-bottom .5s;
    -webkit-transition: color .5s;
    transition: color .5s;
    color: #fff;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
    border-bottom: 2px solid #fff;
    -webkit-transition: border-bottom .5s;
    transition: border-bottom .5s;
    -webkit-transition: color .5s;
    transition: color .5s;
    color: #fff;
}

.navbar-brand {
    margin-top: 20px;
}

.navbar-nav > li > a.active {
    color: #fff;
    border-bottom: 2px solid #f1c40f;
}

.jumbotron {
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: transparent;
    margin-top: 15%;
}

.jumbotron h1 {
    color: rgb(255, 255, 255);
    line-height: 1.4;
    margin: 0;
}

.btn-pex {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    -webkit-transition: color 1s;
    transition: color 1s;
    border-radius: 25px;
    cursor: pointer;
}

.btn-pex:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #34495e !important;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    -webkit-transition: color 1s;
    transition: color 1s;
}

#features {
    background-color: #2e3b4e;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: -16px;
    border: 1px solid #455975;
}

#features .card {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 120%;
    line-height: 1.733;
}

#features .card-title {
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
}

#features .card-title {
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
}

#feature_article {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 82, 107, 0.6)), to(rgba(231, 82, 107, 0.6))), url(../img/forest.jpg);
    background: linear-gradient(rgba(231, 82, 107, 0.6), rgba(231, 82, 107, 0.6)), url(../img/forest.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    color: #fff;
}

#feature_article .card {
    background-color: transparent;
    border: 0;
    text-align: center;
}

#feature_article .card-text {
    font-size: 130%;
    line-height: 1.733;
    margin-bottom: 30px;
    margin-top: 20px;
}

#about .container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

#about .row {
    margin-right: 0;
}

#about .card {
    padding-top: 10%;
    border: 0;
    background-color: transparent;
    font-size: 150%;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.733;
    color: #3a4d60;
}

#about .card-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 120%;
    margin-bottom: 20px;
}

#about .card-subtitle {
    margin-bottom: 40px;
    letter-spacing: 1.1px;
}

#footer {
    background-color: #2e3b4e;
    color: #fff;
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer p {
    margin: 0;
}

#gallery {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 46, 74, 0.5)), to(rgba(43, 46, 74, 0.5))), url(../img/gallery.jpg);
    background: linear-gradient(rgba(43, 46, 74, 0.5), rgba(43, 46, 74, 0.5)), url(../img/gallery.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 60vh;
    color: #fff;
    padding-top: 5%;
}

.swiper-container {
    min-height: 450px;
}

#gallery .img-thumbnail {
    border: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;

}
/*
#gallery .img-thumbnail:hover
{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
    z-index: 3;
}
*/


.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #ff6600;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    border: 2px solid #ff6600;
}
#back-to-top:hover {
    background: #fff;
    color: #ff6600
}
#back-to-top.show {
    opacity: 1;
}