$c-main: #fd3c4d;
$c-primary: #a8a8a8;
$c-secondary: #333333;
$c-white: #ffffff;

$bg-primary: #24272e;
$bg-secondary: rgb(25, 26, 31);

$f-bold: 700;
$f-semi: 600;
$f-regular: 400;

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 799px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 800px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@font-face {
  font-family: "fitben";
  src: url("../fonts/fitben.eot");
  src: url("../fonts/fitben.eot?#iefix") format("embedded-opentype"), url("../fonts/fitben.woff") format("woff"), url("../fonts/fitben.ttf") format("truetype"),
    url("../fonts/fitben.svg#fitben") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"]:before {
  display: inline-block;
  font-family: "fitben";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-challenge:before {
  content: "\0041";
}
.icon-group:before {
  content: "\0042";
}
.icon-personal:before {
  content: "\0043";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.active {
  display: block;
}

.navbar-toggle {
  cursor: pointer;
  color: $c-white;
  font-size: 1.5em;
  position: absolute;
  top: 0.4em;
  right: 1em;
  transition: color 0.4s ease-in-out;

  @include breakpoint(sm) {
    display: none;
  }

  &.nav-active {
    color: $c-main;
  }
}

.logo {
  display: inline-block;
  font-size: 1.5em;
  color: $c-white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s ease-in-out;

  span {
    color: $c-main;
    transition: color 0.4s ease-in-out;
  }

  &:hover {
    color: $c-main;
  }

  &:hover span {
    color: $c-white;
  }
}

.container {
  display: flex;
  flex-flow: column;

  @include breakpoint(sm) {
    flex-flow: row wrap;
  }

  .column {
    flex: 1 1 0;
    padding: 0 0.5em;
    margin-bottom: 2em;
  }
}

.sec-title {
  color: $c-white;
  font-weight: $f-bold;
  font-size: 2em;
  letter-spacing: 2px;
  margin-bottom: 1.5em;
  text-align: center;

  span {
    color: $c-main;
  }
}

.read-more {
  color: $c-main;
  text-transform: uppercase;
  font-size: 1.2em;
  text-decoration: none;
  border-bottom: 1px solid $c-main;
  transition: all 0.4s ease-in-out;

  &:hover {
    border-bottom: 1px solid $c-white;
    padding-left: 1em;
    color: $c-white;
  }

  @include breakpoint(sm) {
    font-size: 0.9em;
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/bg-main.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  font-size: 18px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  // height: 100vh;

  @include breakpoint(sm) {
    flex-direction: row;
    align-items: center;
    padding: 2em 20%;
  }

  .main-nav {
    display: none;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;

    &.active {
      display: flex;
      text-align: right;
      margin-top: 3em;
      opacity: 1;
      height: 90vh;
      width: 100%;
      background-color: #000;
      position: absolute;
      left: 0;
    }

    @include breakpoint(sm) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      opacity: 1;
    }

    a {
      color: $c-white;
      text-decoration: none;
      font-weight: $f-semi;
      font-size: 1.5em;
      text-transform: uppercase;
      padding: 0.5em;
      margin: 0 0.5em;
      transition: color 0.4s ease-in-out;

      &:hover,
      &.nav-active {
        color: $c-main;
      }

      @include breakpoint(sm) {
        font-size: 0.7em;
      }
    }
  }
}

.hero {
  color: $c-white;
  text-align: center;
  margin-top: 25vh;
  padding: 2em;

  h2 {
    text-transform: uppercase;
    color: $c-main;
    font-weight: $f-semi;

    @include breakpoint(sm) {
      font-size: 4em;
      line-height: 0.5em;
    }
  }

  h1 {
    text-transform: uppercase;
    color: $c-white;
    font-weight: $f-bold;

    @include breakpoint(sm) {
      font-size: 5em;
    }
  }

  p {
    margin: 0 auto;
    margin-bottom: 2em;

    @include breakpoint(sm) {
      width: 40%;
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: $c-main;
    font-weight: $f-semi;
    color: $c-white;
    padding: 0.8em 3em;
    border-radius: 50px;
    border: 2px solid $c-main;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: transparent;
    }

    @include breakpoint(sm) {
      font-size: 0.8em;
      margin-top: 4em;
    }
  }
}

#sec-about {
  background-color: $bg-primary;
  color: $c-white;
  padding: 20% 5%;

  .sec-title {
    @include breakpoint(sm) {
      text-align: left;
    }
  }

  @include breakpoint(sm) {
    padding: 10% 20%;
  }

  .column {
    padding: 0 1em;
  }

  p {
    color: $c-primary;
    margin-bottom: 2em;
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.8em;

    @include breakpoint(sm) {
      font-size: 0.9em;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    // img {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    //   object-position: center top;
    // }
    .videoWrapper {
      border: 2px solid transparent;
      transition: border 0.3s ease-in-out;
    }

    .videoWrapper:hover {
      border: 2px solid $c-main;
    }
  }
}

#sec-whyus {
  padding: 100px 5%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/bg-whyus.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .sec-title {
    align-self: center;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 4em;
  }

  .column {
    margin: 0 1em;
  }

  .box {
    background-color: $bg-primary;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.box-active {
      background-color: $c-main;

      i {
        color: $bg-primary;
      }

      p {
        color: $c-white;
      }
    }

    i {
      font-size: 3em;
      color: $c-main;
    }

    h3 {
      color: $c-white;
      margin: 1em 0;
    }

    p {
      color: $c-primary;
      margin: 0.5em 0;
      font-size: 0.8em;
      text-align: center;
      line-height: 1.6em;
    }

    a {
      text-decoration: none;
      color: $c-white;
      background-color: $bg-primary;
      border: 1px solid $c-main;
      border-radius: 50px;
      text-transform: uppercase;
      font-size: 0.7em;
      margin: 1em 0;
      padding: 0.5em 2em;
      font-weight: $f-bold;
      transition: all 0.3s ease-in-out;

      &:hover {
        border: 1px solid $c-white;
      }
    }
  }
}

#sec-posts {
  background-color: $bg-primary;
  color: $c-white;
  padding: 20% 5%;

  @include breakpoint(sm) {
    padding: 10% 20%;
  }

  .sec-title {
    align-self: center;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 4em;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 4em;

    .card {
      position: relative;
      object-fit: cover;

      img {
        max-width: 100%;
        max-height: 250px;
      }

      .overlay {
        background-color: $bg-secondary;
        width: 100%;
        height: 251px;
        position: absolute;
        left: 0;
        top: 0;
        clip-path: polygon(0 0, 60% 0, 75% 100%, 0% 100%);
        text-align: left;
        padding: 3em;
        color: $c-primary;

        h5 {
          font-weight: $f-semi;
          color: $c-white;
        }
        small {
          font-size: 0.6em;
          margin-bottom: 3em;
        }

        p {
          font-size: 0.7em;
          width: 65%;
          line-height: 1.4em;
          margin: 1.5em 0;
        }

        .read-more {
          font-size: 0.7em;
          font-weight: $f-semi;
        }
      }
    }
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: $c-main;
    opacity: 1;
    border: 2px solid $c-main;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: $c-main;
    background: transparent;
  }
}

#sec-stories {
  background: linear-gradient(to right, rgba(25, 26, 31, 1), rgba(25, 26, 31, 0.8)), url("../img/bg-stories.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20% 5%;

  @include breakpoint(sm) {
    padding: 10% 20%;
  }

  .container {
    align-items: center;
    justify-content: center;
  }

  .sec-title {
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .column {
    text-align: center;
  }

  h3 {
    color: $c-white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 3em 0 2em 0;
  }

  i {
    color: rgba($c-white, 0.7);
    line-height: 1.8em;
    letter-spacing: 0;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#sec-prices {
  padding: 100px 5%;
  background-color: $bg-primary;

  .sec-title {
    align-self: center;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 4em;
  }

  .column {
    margin: 0 1em;
  }

  .box {
    background-color: $bg-secondary;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.box-active {
      background-color: $c-main;

      i {
        color: $bg-primary;
      }

      p {
        color: $c-white;
      }
    }

    i {
      font-size: 3em;
      color: $c-main;
    }

    h3 {
      color: $c-white;
      margin: 1em 0;
    }

    p {
      color: $c-primary;
      margin: 0.5em 0;
      font-size: 0.8em;
      text-align: center;
      line-height: 1.6em;
    }

    a {
      text-decoration: none;
      color: $c-white;
      background-color: $bg-primary;
      border: 1px solid $c-main;
      border-radius: 50px;
      text-transform: uppercase;
      font-size: 0.7em;
      margin: 1em 0;
      padding: 0.5em 2em;
      font-weight: $f-bold;
      transition: all 0.3s ease-in-out;

      &:hover {
        border: 1px solid $c-white;
      }
    }
  }
}
