@font-face {
  font-family: "fitben";
  src: url("../fonts/fitben.eot");
  src: url("../fonts/fitben.eot?#iefix") format("embedded-opentype"), url("../fonts/fitben.woff") format("woff"), url("../fonts/fitben.ttf") format("truetype"), url("../fonts/fitben.svg#fitben") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"]:before {
  display: inline-block;
  font-family: "fitben";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-challenge:before {
  content: "\0041";
}

.icon-group:before {
  content: "\0042";
}

.icon-personal:before {
  content: "\0043";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.active {
  display: block;
}

.navbar-toggle {
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5em;
  position: absolute;
  top: 0.4em;
  right: 1em;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

@media (min-width: 800px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-toggle.nav-active {
  color: #fd3c4d;
}

.logo {
  display: inline-block;
  font-size: 1.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.logo span {
  color: #fd3c4d;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.logo:hover {
  color: #fd3c4d;
}

.logo:hover span {
  color: #ffffff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media (min-width: 800px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.container .column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 0 0.5em;
  margin-bottom: 2em;
}

.sec-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 2px;
  margin-bottom: 1.5em;
  text-align: center;
}

.sec-title span {
  color: #fd3c4d;
}

.read-more {
  color: #fd3c4d;
  text-transform: uppercase;
  font-size: 1.2em;
  text-decoration: none;
  border-bottom: 1px solid #fd3c4d;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.read-more:hover {
  border-bottom: 1px solid #ffffff;
  padding-left: 1em;
  color: #ffffff;
}

@media (min-width: 800px) {
  .read-more {
    font-size: 0.9em;
  }
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

header {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/bg-main.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/bg-main.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  font-size: 18px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

@media (min-width: 800px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2em 20%;
  }
}

.navbar .main-nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.navbar .main-nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  margin-top: 3em;
  opacity: 1;
  height: 90vh;
  width: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
}

@media (min-width: 800px) {
  .navbar .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    opacity: 1;
  }
}

.navbar .main-nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 0.5em;
  margin: 0 0.5em;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.navbar .main-nav a:hover, .navbar .main-nav a.nav-active {
  color: #fd3c4d;
}

@media (min-width: 800px) {
  .navbar .main-nav a {
    font-size: 0.7em;
  }
}

.hero {
  color: #ffffff;
  text-align: center;
  margin-top: 25vh;
  padding: 2em;
}

.hero h2 {
  text-transform: uppercase;
  color: #fd3c4d;
  font-weight: 600;
}

@media (min-width: 800px) {
  .hero h2 {
    font-size: 4em;
    line-height: 0.5em;
  }
}

.hero h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

@media (min-width: 800px) {
  .hero h1 {
    font-size: 5em;
  }
}

.hero p {
  margin: 0 auto;
  margin-bottom: 2em;
}

@media (min-width: 800px) {
  .hero p {
    width: 40%;
  }
}

.hero a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fd3c4d;
  font-weight: 600;
  color: #ffffff;
  padding: 0.8em 3em;
  border-radius: 50px;
  border: 2px solid #fd3c4d;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hero a:hover {
  background-color: transparent;
}

@media (min-width: 800px) {
  .hero a {
    font-size: 0.8em;
    margin-top: 4em;
  }
}

#sec-about {
  background-color: #24272e;
  color: #ffffff;
  padding: 20% 5%;
}

@media (min-width: 800px) {
  #sec-about .sec-title {
    text-align: left;
  }
}

@media (min-width: 800px) {
  #sec-about {
    padding: 10% 20%;
  }
}

#sec-about .column {
  padding: 0 1em;
}

#sec-about p {
  color: #a8a8a8;
  margin-bottom: 2em;
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.8em;
}

@media (min-width: 800px) {
  #sec-about p {
    font-size: 0.9em;
  }
}

#sec-about .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

#sec-about .gallery .videoWrapper {
  border: 2px solid transparent;
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}

#sec-about .gallery .videoWrapper:hover {
  border: 2px solid #fd3c4d;
}

#sec-whyus {
  padding: 100px 5%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/bg-whyus.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/bg-whyus.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#sec-whyus .sec-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 4em;
}

#sec-whyus .column {
  margin: 0 1em;
}

#sec-whyus .box {
  background-color: #24272e;
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sec-whyus .box.box-active {
  background-color: #fd3c4d;
}

#sec-whyus .box.box-active i {
  color: #24272e;
}

#sec-whyus .box.box-active p {
  color: #ffffff;
}

#sec-whyus .box i {
  font-size: 3em;
  color: #fd3c4d;
}

#sec-whyus .box h3 {
  color: #ffffff;
  margin: 1em 0;
}

#sec-whyus .box p {
  color: #a8a8a8;
  margin: 0.5em 0;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.6em;
}

#sec-whyus .box a {
  text-decoration: none;
  color: #ffffff;
  background-color: #24272e;
  border: 1px solid #fd3c4d;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.7em;
  margin: 1em 0;
  padding: 0.5em 2em;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#sec-whyus .box a:hover {
  border: 1px solid #ffffff;
}

#sec-posts {
  background-color: #24272e;
  color: #ffffff;
  padding: 20% 5%;
}

@media (min-width: 800px) {
  #sec-posts {
    padding: 10% 20%;
  }
}

#sec-posts .sec-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 4em;
}

#sec-posts .swiper-container {
  width: 100%;
  height: 100%;
}

#sec-posts .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4em;
}

#sec-posts .swiper-slide .card {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

#sec-posts .swiper-slide .card img {
  max-width: 100%;
  max-height: 250px;
}

#sec-posts .swiper-slide .card .overlay {
  background-color: #191a1f;
  width: 100%;
  height: 251px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 60% 0, 75% 100%, 0% 100%);
          clip-path: polygon(0 0, 60% 0, 75% 100%, 0% 100%);
  text-align: left;
  padding: 3em;
  color: #a8a8a8;
}

#sec-posts .swiper-slide .card .overlay h5 {
  font-weight: 600;
  color: #ffffff;
}

#sec-posts .swiper-slide .card .overlay small {
  font-size: 0.6em;
  margin-bottom: 3em;
}

#sec-posts .swiper-slide .card .overlay p {
  font-size: 0.7em;
  width: 65%;
  line-height: 1.4em;
  margin: 1.5em 0;
}

#sec-posts .swiper-slide .card .overlay .read-more {
  font-size: 0.7em;
  font-weight: 600;
}

#sec-posts .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: #fd3c4d;
  opacity: 1;
  border: 2px solid #fd3c4d;
}

#sec-posts .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd3c4d;
  background: transparent;
}

#sec-stories {
  background: -webkit-gradient(linear, left top, right top, from(#191a1f), to(rgba(25, 26, 31, 0.8))), url("../img/bg-stories.jpg");
  background: linear-gradient(to right, #191a1f, rgba(25, 26, 31, 0.8)), url("../img/bg-stories.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20% 5%;
}

@media (min-width: 800px) {
  #sec-stories {
    padding: 10% 20%;
  }
}

#sec-stories .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sec-stories .sec-title {
  text-transform: uppercase;
  margin-bottom: 0;
}

#sec-stories .column {
  text-align: center;
}

#sec-stories h3 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 3em 0 2em 0;
}

#sec-stories i {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.8em;
  letter-spacing: 0;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#sec-prices {
  padding: 100px 5%;
  background-color: #24272e;
}

#sec-prices .sec-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 4em;
}

#sec-prices .column {
  margin: 0 1em;
}

#sec-prices .box {
  background-color: #191a1f;
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sec-prices .box.box-active {
  background-color: #fd3c4d;
}

#sec-prices .box.box-active i {
  color: #24272e;
}

#sec-prices .box.box-active p {
  color: #ffffff;
}

#sec-prices .box i {
  font-size: 3em;
  color: #fd3c4d;
}

#sec-prices .box h3 {
  color: #ffffff;
  margin: 1em 0;
}

#sec-prices .box p {
  color: #a8a8a8;
  margin: 0.5em 0;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.6em;
}

#sec-prices .box a {
  text-decoration: none;
  color: #ffffff;
  background-color: #24272e;
  border: 1px solid #fd3c4d;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.7em;
  margin: 1em 0;
  padding: 0.5em 2em;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#sec-prices .box a:hover {
  border: 1px solid #ffffff;
}
/*# sourceMappingURL=style.css.map */