/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&subset=latin-ext'); */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=greek-ext');

* {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/LOnMc8Rp1Qs/1900x1200");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    justify-items: end;
    padding: 20px 60px;
}

.nav-logo {
    margin: auto 0;
    padding: 0;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 3px solid #D1B182;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.nav-social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav__item {
    list-style: none;
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
    margin: 0 10px;
    transition: all .3s ease-in-out;
}

.nav-bar .nav__item.active {
    border-bottom: 3px solid #D1B182;
}

.nav-bar .nav__item:hover,
.nav-bar .nav__item:focus {
    border-bottom: 3px solid #D1B182;
}

.nav-social .nav__item:hover,
.nav-social .nav__item:focus {
    transform: scale(1.5);
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
}

header .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 85vh;
}

header .content {
    grid-column: 3 / 6;
    grid-row: 6 / 6;
    color: #ffffff;
}

header .title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 7rem;
    margin: 0;
    padding: 0;
    line-height: 6rem;
}

header .subtitle {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 7rem;
    color: #70BE44;
    margin: 0;
    padding: 0;
    line-height: 6rem;
}

header .text {
    background-color: rgba(112, 190, 68, 0.5);
    padding: 40px;
    margin: 0;
    text-align: justify;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
}

#section-about {
    grid-column: 1 / 6;
    grid-row: 1 / 1;
    padding: 100px 300px;
}

#section-about .title {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 900;
    color: #70BE44;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

#section-about .text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #82788B;
    font-style: italic;
    text-align: justify;
    margin-bottom: 2rem;
}

#section-about .quote {
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #82788B;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 5rem;
}

#section-about .quote span {
    color: #70BE44;
    font-size: 1.5rem;
}

#section-about .fa-quote-right {
    padding: 2rem;
    vertical-align: text-bottom;
}

#section-about .fa-quote-left {
    padding: 2rem;
    vertical-align: text-top;
}

#section-offer {
    grid-column: 1 / 6;
    grid-row: 2 / 2;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/WdoQio6HPVA/1900x1200");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 300px;
}

#section-offer .title {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 900;
    color: #70BE44;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.offer__list {
    list-style: none;
    color: #ffffff;
}

.offer__item {
    font-size: 1.2rem;
    padding: 20px 30px;
}

.offer__item .fas {
    margin-right: 2rem;
}

.offer__item span {
    color: #70BE44;
}

#section-graphic {
    grid-column: 1 / 6;
    grid-row: 3 / 3;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, .9), rgba(0, 0, 0, 0)), url("https://source.unsplash.com/gJtDg6WfMlQ/1900x1200");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 300px;
}

#section-graphic .title {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 900;
    color: #70BE44;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.graphic__list {
    list-style: none;
    color: #505050;
}

.graphic__item {
    font-size: 1.2rem;
    padding: 10px 30px;
    text-transform: uppercase;
}

.graphic__item span {
    font-weight: 600;
    margin-left: 1rem;
}

#section-graphic h2 {
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-left: 5rem;
    font-size: 4rem;
}

#section-graphic h2 span {
    font-weight: 600;
    font-size: 2rem;
    color: #70BE44;
}

#section-gallery {
    grid-column: 1 / 6;
    grid-row: 4 / 4;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("https://source.unsplash.com/buWcS7G1_28/1900x1200");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 300px;
}

#section-gallery .title {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 3rem;
}


.flex-gallery {
    display: flex;
    flex-flow: row wrap;
}

.flex-gallery .flex-gallery-item {
    flex: auto;
    width: 200px;
    margin: 5px;
}

.flex-gallery .flex-gallery-item img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

footer {
    text-align: center;
    font-size: .9rem;
}

@media screen and (max-width: 400px) {
    .flex-gallery .flex-gallery-item {
        margin: 1vw 0;
    }

    .flex-gallery {
        padding: 0;
    }
}